@using DATN_Client.Areas.Customer.Controllers
@using DATN_Client.Areas.Customer.Component;
@using DATN_Shared.ViewModel
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model X.PagedList.IPagedList<Products_VM>

@{
	ViewData["Title"] = "Search Product";
	Layout = @"~/Areas/Customer/Views/Shared/_CustomerLayout.cshtml";
}
<style>
	.pagination {
		/* Các quy tắc CSS tùy chỉnh cho pager */
		list-style-type: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

		.pagination li {
			padding: 5px;
		}

			.pagination li a {
				text-decoration: none;
				color: #000;
				border: 1px solid #ccc;
				padding: 5px 10px;
				border-radius: 3px;
			}

				.pagination li a:hover {
					background-color: #f2f2f2;
				}

		.pagination .active a {
			background-color: #337ab7;
			color: #fff;
		}
</style>
@(await Html.RenderComponentAsync<SearchProduct>(RenderMode.Server))
@if (@BanOnlineController._soKQ > 0)
{
	var search = ViewContext.HttpContext.Request.Query["search"];
	var page = ViewContext.HttpContext.Request.Query["page"];
	var currentPage = Model.PageNumber;
	var totalPages = Model.PageCount;
	<div class="container">
		<div class="row">
			<div class="pagination-container">
				<div class="pagination">
					<li class="PagedList-skipToPrevious">
						@if (currentPage > 1)
						{
							<a href="@Url.Action("SearchProduct", "BanOnline", new {search, page = currentPage - 1 })"><i class="fa-solid fa-chevron-left"></i></a>
						}
					</li>
					@for (int i = 1; i <= totalPages; i++)
					{
						if (i == currentPage)
						{
							<span>@i</span>
						}
						else
						{
							if (page == i)
							{
								<li class="active">
									<a href="@Url.Action("SearchProduct", "BanOnline", new {search, page = i })">@i</a>
								</li>
							}
							else
							{
								<li>
									<a href="@Url.Action("SearchProduct", "BanOnline", new {search, page = i })">@i</a>
								</li>
							}
						}
					}
					<li class="PagedList-skipToNext">
						@if (currentPage < totalPages)
						{
							<a href="@Url.Action("SearchProduct", "BanOnline", new {search, page = currentPage + 1 })"><i class="fa-solid fa-angle-right"></i></a>
						}
					</li>
				</div>
			</div>
		</div>
	</div>
}

