@using DATN_Shared.ViewModel;
<div class="card">
    <div class="card-body">
        <h3 style="margin-top:20px">Tạo khuyến mại</h3>
        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item"><a href="/promotion-management">Quản lý khuyến mại</a></li>
                    <li class="breadcrumb-item"><a href="/promotion-management/add">Tạo khuyến mại</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<style>
    .message {
        color: red;
    }
</style>


<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tạo mới</h4>

                    <!-- General Form Elements -->
                    <EditForm Model="_promotion">
                        <DataAnnotationsValidator />
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-4 col-form-label">Tên khuyến mại</label>
                            <div class="col-sm-8">
                                <InputText class="form-control" @bind-Value="_promotion.Name" />
                                <span class="message"><ValidationMessage For="()=>_promotion.Name" /></span>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-4 col-form-label">Phần trăm giảm</label>
                            <div class="col-sm-8">
                                <InputNumber class="form-control" @bind-Value="_promotion.Percent" />
                                <span class="message"><ValidationMessage For="()=>_promotion.Percent" /></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="inputNumber" class="col-sm-4 col-form-label">Số lượng</label>
                            <div class="row col-sm-8">
                                <InputNumber class="form-control" @bind-Value="_promotion.Quantity" />
                                <span class="message"><ValidationMessage For="()=>_promotion.Quantity" /> </span>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-4 col-form-label">Ngày bắt đầu</label>
                            <div class="col-sm-8">
                                <input type="datetime-local" class="form-control" @bind-value="@_promotion.StartDate" />
                                <span class="message">@messagestart</span>
                            </div>
                        </div>


                        <div class="row mb-3">
                            <label for="inputDate" class="col-sm-4 col-form-label">Ngày kết thúc</label>
                            <div class="col-sm-8">
                                <input type="datetime-local" class="form-control" @bind-value="@_promotion.EndDate">
                                <span class="message">@messageend</span>
                            </div>
                        </div>




                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Mô tả</label>
                            <div class="col-sm-8">
                                <InputTextArea class="form-control" style="height: 50px" @bind-Value="@_promotion.Description" />
                                <span class="message"><ValidationMessage For="()=>_promotion.Description" /></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Tình trạng</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <InputRadioGroup @bind-Value="@_promotion.Status" class="form-control">
                                        <div class="col-sm-6">
                                            <InputRadio Value="1" /> Hoạt động
                                        </div>
                                        <div class="col-sm-6">
                                            <InputRadio Value="0" /> Ngừng hoạt động
                                        </div>
                                    </InputRadioGroup>
                                    <span class="message"><ValidationMessage For="()=>_promotion.Status" /></span>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label"></label>
                            <div class="col-sm-8">
                                <button type="submit" class="btn btn-primary" @onclick="AddPromotionItem">Tạo mới</button>
                            </div>
                        </div>
                    </EditForm><!-- End General Form Elements -->
                </div>
            </div>

        </div>



        @{
            int count = 0;
        }


        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sản phẩm</h4>
                    <div class="row mb-3">
                            <div class="col-sm-10" style="margin-left:40px;">
                                <input type="text" class="form-control" @bind-value="_promotionName" placeholder="Search..." />
                            </div>
                            <button type="button" class="btn btn-info col-1" style="width:38px;height:38px;" @onclick="Search"><i class="fas fa-search fa-lg"></i></button>
                        </div>
                        
                    <!-- Advanced Form Elements -->
                    <form>

                        <!-- Default Table -->
                        <div style="height: 445px; overflow-y: auto;">
                            <table class="table">
                                <thead style="background-color:orange">
                                    <tr style="position: sticky;top:0; z-index:2">
                                        <th scope="col" style="background-color:orange">

                                        </th>
                                        <th scope="col" style="background-color:orange">#</th>
                                        <th scope="col" style="background-color:orange">Ảnh</th>
                                        <th scope="col" style="background-color:orange">Product Name</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var a in _lstProductShow)
                                    {
                                        var img = _lstImg_PI.Where(c => c.ProductId == a.Id).Select(c => c.PathImage).FirstOrDefault();
                                        <tr>
                                            <th scope="col">
                                                <input type="checkbox" style="transform: scale(1.5);" value="@a.Id" checked="@_lstProductSelect.Contains(a.Id)" @onchange="()=>ToggleProductSelection(a.Id)" />
                                            </th>
                                            <td>@(count++)</td>
                                            <td>
                                                <img src="/images/@img" alt="" style="width:70px;height:70px" />
                                            </td>
                                            <td>@a.Name</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form><!-- End General Form Elements -->

                </div>
            </div>

        </div>

        <div class="card">
            <div class="card-body">
                <h4 style="margin-top:20px">Sản phẩm chi tiết</h4>
                <div class="pagetitle">
                    <EditForm Model="_PM_S_VM">
                        <div class="row">
                            <div class="col-md-2">
                                <InputSelect class="form-select" @bind-Value="_PM_S_VM.CategoryName" @onclick="LocHangLoat">
                                    <option value="0" selected>Danh mục</option>
                                    @foreach (var x in _lstCate)
                                    {
                                        <option value="@x.Name">@x.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-md-2">
                                <InputSelect class="form-select" @bind-Value="_PM_S_VM.ColorName" @onclick="LocHangLoat">
                                    <option value="0" selected>Màu sắc</option>
                                    @foreach (var x in _lstC)
                                    {
                                        <option value="@x.Name">@x.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-md-2">
                                <InputSelect class="form-select" @bind-Value="_PM_S_VM.SizeName" @onclick="LocHangLoat">
                                    <option value="0" selected>Kích thước</option>
                                    @foreach (var x in _lstS)
                                    {
                                        <option value="@x.Name">@x.Name</option>
                                    }
                                </InputSelect>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary" @onclick="LocHangLoat">Lọc</button>
                            </div>
                        </div>

                    </EditForm>

                </div>
                @if (_lstProductItem == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <div style="height: 500px; overflow-y: auto;">
                        <table class="table">
                            <thead style="background-color:orange">
                                <tr style="position: sticky;top:0;z-index:2">
                                    <th scope="col" style="background-color:orange">
                                        <input type="checkbox" style="transform: scale(1.5);" @onchange="ToggleAllItems" checked="@SelectAllChangedProductItem" />
                                    </th>
                                    <th style="background-color:orange">Ảnh minh họa</th>
                                    <th style="background-color:orange">Tên</th>
                                    <th style="background-color:orange">Danh mục</th>
                                    <th style="background-color:orange">Màu sắc</th>
                                    <th style="background-color:orange">Size</th>
                                    <th style="background-color:orange">Số lượng tồn</th>
                                    <th style="background-color:orange">Giá bán</th>
                                    <th style="background-color:orange">Trạng thái</th>
                                    <th style="background-color:orange"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in _lstProductItemShow)
                                {
                                    <tr>
                                        <th scope="col">
                                            <input type="checkbox" value="@x.Id" style="transform: scale(1.5);" checked="@_lstProductItemSelect.Contains(x.Id)" @onchange="()=>ToggleProductItemSelection(x.Id)" />
                                        </th>

                                        @{
                                            var img = _lstImg_PI.Where(c => c.ProductItemId == x.Id).Select(c => c.PathImage).FirstOrDefault();
                                            //var img2 = _lstImg.FirstOrDefault(c => c.ProductItemId == x.Id).PathImage;
                                            if (img == null)
                                            {
                                                <td>Chưa có ảnh</td>
                                            }
                                            else
                                            {
                                                <td><img src="/images/@img" alt="" style="width:100px;height: 110px;"></td>
                                                //<td><img src="/images/1.png" alt="" style="width:100px;height: 100px;"></td>
                                            }
                                        }
                                        <td>@x.Name</td>
                                        <td>@x.CategoryName</td>
                                        <td>@x.ColorName</td>
                                        <td>@x.SizeName</td>
                                        <td>@x.AvaiableQuantity</td>
                                        <td>@x.CostPrice</td>
                                        <td>@(x.Status == 1 ? "Còn hàng" : x.Status == 2 ? "Hết hàng" : "Ngừng kinh doanh")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>



    </div>
</section>