<div>
    <p class="title-pages">Hóa đơn</p>
    <div style="background-color:#d3d3d3">
        <div class="tab-type">

            @foreach (var tabItem in tabTypes)
            {
                <div class="@(activeTabType == tabItem.Id? "active-tabItem-type":"tabItem-type")" @onclick="()=>HandleActiveTabType(tabItem.Id)">
                    @tabItem.Name
                </div>
            }
        </div>
        <div class="relevative-th">
            <div class="table-title">
                <div style="border-right:1px solid #000;width:5%">STT</div>
                <div class="set-border-right-span" style="width:10%">Thời gian cật nhật</div>
                <div class="set-border-right-span" style="width:7%">Mã hóa đơn</div>
                <div class="set-border-right-span" style="width:7%">Thể loại</div>
                <div class="set-border-right-span" style="width:14%">Khách hàng</div>
                <div class="set-border-right-span" style="width:14%">Phương thức thanh toán</div>
                <div class="set-border-right-span" style="width:10%">Tổng tiền</div>
                <div style="width:10%">Trạng thái</div>
            </div>
            <div class="absolut-th">
                @{
                    int index = 0;
                }
                @foreach (var item in _lstBillShowOnMain)
                {
                    {
                        index += 1;
                    }
                    <div style="display:flex;text-align:center;padding:10px 0px;" class="@(index % 2 == 0 ? "bg-maudam" : "")">
                        <div style="#000;width:5%">@index</div>
                        <div style="width:10%>@item.DateTimeShow</div>
                    <div style="width:7%">Mã hóa đơn</div>
                        <div style="width:7%">Thể loại</div>
                        <div style="width:14%">Khách hàng</div>
                        <div style="width:14%">Phương thức thanh toán</div>
                        <div style="width:10%">Tổng tiền</div>
                        <div style="width:10%">Trạng thái</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>