@inject IJSRuntime JSRuntime
@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="5"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<div class="row">
	<div>
		<button @onclick=ReturnBill style="border:none;border-radius:25px; padding:10px 25px 10px 25px; background-color:#fe9666;color:white"><i style="margin-right:15px" class="fa-solid fa-chevron-left"></i>Back</button>
	</div>
	<h2>Thông tin hóa đơn</h2>
	<div>
		<div style="display:flex;">
			<div style="width:35%">
				@if (_bill.UserName == "khachvanglai")
				{
					if (_bill.Type != 0)
					{
						<p>Người tạo: @_bill.NameCreatBy</p>
					}
					<p>Khách vãng lai</p>
				}
				else
				{
					if (_bill.Type != 0)
					{
						<p>Người tạo: @_bill.NameCreatBy</p>
					}
					<p>Khách hàng: @_bill.UserName</p>
					<p>Số điện thoại: @_bill.PhoneNumber</p>
				}
				@if (_bill.Cash>0)
				{
					<p>Tiền mặt: @_bill.Cash</p>
				}
				@if (_bill.CustomerPayment > 0)
				{
					<p>Tiền chuyển khoản: @_bill.CustomerPayment</p>
				}
				<p>Tổng tiền: @_bill.TotalAmount</p>
				<p>Thành chữ: @TotalText</p>
				<p>Phương thức thanh toán: @_bill.PaymentMethodName</p>
				<p>
					Hình thức mua hàng:
					@if (_bill.Type == 1)
					{
						<span>Online</span>
					}
					else if (_bill.Type == 2 && _bill.Status != 3)
					{
						<span>Tại quầy(Có vận chuyển)</span>
					}
					else
					{
						<span>Tại quầy</span>
					}
				</p>
				<p></p>
			</div>
			<div style="width:40%">

				@if (!string.IsNullOrEmpty(_bill.Province))
				{

					@if (!string.IsNullOrEmpty(TenNguoiHuy))
					{
						<p>Người hủy: @(string.IsNullOrEmpty(TenNguoiHuy) ? string.Empty : TenNguoiHuy)</p>
					}
					else
					{
						<p></p>
					}

					<p>Thông tin vận chuyển</p>
					<div style="padding-left:15px">
						<p>Người nhận: @_bill.Recipient</p>
						<p>Số điện thoại: @_bill.NumberPhone</p>
						<p>Địa chỉ: @_bill.ToAddress, @_bill.WardName, @_bill.District, @_bill.Province</p>
						<p>
							Phí ship:
							@if (string.IsNullOrEmpty(_bill.ShippingFee.ToString()) || _bill.ShippingFee == 0)
							{
								<span>cần được cập nhật</span>
							}
							else
							{
								<span>@_bill.ShippingFee</span>
							}
						</p>
						<p>Ghi chú: @_bill.Note</p>
						@*  <p>Người tạo đơn: @_bill.NameCreatBy</p> *@
						@* @if (_bill.CanelBy != null || _bill.CanelBy != default)
					{
					<p>Người hủy đơn: @TenNguoiHuy</p>
					// <p>Người tạo đơn: @_bill.NameCreatBy</p>
					} *@
					</div>
				}

			</div>
			<div style="display:flex;justify-content:center;align-items:center;flex-direction:column;gap:20px">
				@if (_bill.Type == 1 && _bill.Status == 2)
				{
					<button class="btn_UpdateBill" data-target="#AddressShipSellStall" data-toggle="modal">Cập nhật địa chỉ giao hàng</button>
					<button class="btn_UpdateBill" data-target="#UpdateShippingFee" data-toggle="modal">Cập nhật phí ship</button>
				}
				else if ((_bill.Type == 1 && _bill.Status == 3) || (_bill.Type == 2 && _bill.Status == 1))
				{
					<button class="btn_UpdateBill" data-target="#XacnhanBanGiao" data-toggle="modal">Bàn giao cho đơn vị vận chuyển</button>
				}
				else if ((_bill.Type == 1 && _bill.Status == 4) || (_bill.Type == 2 && _bill.Status == 2))
				{
					<button class="btn_UpdateBill" data-target="#XacnhanThanhcong" data-toggle="modal">Giao hàng thành công</button>
				}
				@if (
									(_bill.Type == 1 && _bill.Status == 1) ||
									(_bill.Type == 1 && _bill.Status == 2) ||
									(_bill.Type == 1 && _bill.Status == 3) ||
									(_bill.Type == 2 && _bill.Status == 1)
									)
				{
					@if (_bill.Type == 1 && _bill.Status == 1)
					{
						<button class="btn_UpdateBill" data-target="#AddressShipSellStall" data-toggle="modal">Cập nhật địa chỉ giao hàng</button>
					}
					<button class="btn_CancelBill" data-target="#CancelBill" data-toggle="modal">Hủy đơn hàng</button>
				}

			</div>
		</div>
		<div>
			Danh sách sản phẩm
			<table style="width:100%">
				<tr style="border:1px solid #d3d3d3;border-collapse:collapse">
					<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">STT</td>
					<td style="width:50%;border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px; ">Sản phẩm</td>
					<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">Đơn giá</td>
					<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">Số lượng</td>
					<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">Tổng tiền</td>
				</tr>
				@{
					int index = 0;
					int countQuantity = 0;
					int countTienHang = 0;
				}
				@foreach (var item in _lstBillDetail)
				{
					{
						index += 1;
						countQuantity += @item.Quantity;
						countTienHang += (@item.Quantity * @item.PriceAfter) ?? 0;

					}
					<tr>
						<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">@index</td>
						<td style="width:50%;border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px; ">@item.Name - @item.SizeName - @item.ColorName</td>
						<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">@item.PriceAfter</td>
						<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">@item.Quantity</td>
						<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">@(item.Quantity * item.PriceAfter)</td>
					</tr>
				}
				<tr>
					<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center" colspan="3">Tổng cộng</td>
					<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">@countQuantity</td>
					<td style="border:1px solid #d3d3d3;border-collapse:collapse;padding:5px 10px;width:5%;text-align:center">@countTienHang</td>
				</tr>
			</table>
		</div>
	</div>
</div>


@*Poup*@
@* data-target="#ChooseSizeAndColor" data-toggle=" *@

<div class="modal fade" id="UpdateShippingFee">
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />

	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Cập nhập phí vận chuyển</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label class="form-label">Phí vận chuyển: </label>
					<input type="number" class="form-control" @bind="PhiShip" @oninput="CheckFeeShip">
				</div>
				<div class="mb-3">
					<label class="form-label">Ghi chú: </label>
					<textarea class="form-control" @bind="Note"></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" @onclick="()=>UpdateFeeship()" data-dismiss="@(ActiveTabFee== true ? "modal":"")">
					Xác nhận
				</button>
			</div>
		</div>
	</div>
</div>
@*Poup*@
@*<div class="modal fade" id="XacnhanBanGiao">

    <div class="modal-dialog">
        <div class="modal-content">
            <p>Bạn đồng ý bàn giao đơn hàng cho đơn vị vận chuyển</p>

            <button data-dismiss="modal">
                Hủy
            </button>
            <button @onclick="()=>Bangiao()" data-dismiss="modal">
                Xác nhận
            </button>
        </div>
    </div>
</div>*@
<div class="modal fade" id="XacnhanBanGiao">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xác nhận bàn giao</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Bạn đồng ý bàn giao đơn hàng cho đơn vị vận chuyển</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-primary" @onclick="()=>Bangiao()" data-dismiss="modal">Xác nhận</button>
			</div>
		</div>
	</div>
</div>
@*Poup*@
@*<div class="modal fade" id="XacnhanThanhcong">

    <div class="modal-dialog">
        <div class="modal-content">
            <p>Bạn đồng ý hoàn thành đơn hàng</p>

            <button data-dismiss="modal">
                Hủy
            </button>
            <button @onclick="()=>ThanhCong()" data-dismiss="modal">
                Xác nhận
            </button>
        </div>
    </div>
</div>*@
<div class="modal fade" id="XacnhanThanhcong">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xác nhận thành công</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Bạn đồng ý hoàn thành đơn hàng</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
						data-dismiss="modal">
					Hủy
				</button>
				<button type="button" class="btn btn-primary" @onclick="()=>ThanhCong()" data-dismiss="modal">Xác nhận</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="CancelBill">
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Xác nhận thành công</h5>
				<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Bạn đồng ý hủy đơn hàng</p>
			</div>
			<div>
				<textarea @bind="LyDoHuy" @oninput="CheckLyDoHuy" />
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary"
						data-dismiss="modal">
					Không hủy
				</button>
				<button type="button" class="btn btn-primary" @onclick="()=>CancelBill()"
						data-dismiss="@(activetabHuy==true?"modal":"")">
					Hủy
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="AddressShipSellStall">
        <BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="8"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" 
                />
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Phần tiêu đề của popup -->
            <div class="modal-header" style="background-color:#f2cc8c">
                <h6 class="modal-title">Thông tin địa chỉ giao hàng</h6>
                <i class="fa-solid fa-xmark close" style="cursor: pointer;" data-dismiss="modal"></i>
            </div>
           <div>
               <div style="margin-top:15px;padding-left:20px">

                       <div class="row" style="margin-top:5px;">
           <div class="col-3" style="display:flex;gap:5px;align-items:center">
               <span>Người nhận</span>
           </div>
           <div class="col-7 input-text" style="display:flex;justify-content:flex-end">
              <input type="text" style="width:100%" placeholder="Tên người nhận" @oninput="checkNameNguoiNhan" @bind="nameNguoiNhan"/>
           </div>
       </div>
       <div class="row" style="margin-top:5px;align-items:center">
           <div class="col-3" style="display:flex;gap:5px">
               <span>Số điện thoại</span>
           </div>
           <div class="col-7 input-Number" style="display:flex;justify-content:flex-end">
              <input type="number" style="width:100%" placeholder="Số điện thoại" maxlength="10" @oninput="checkPhoneNumberNguoiNhan" @bind="phoneNumberNguoinhan"/>
           </div>
       </div>

					<div class="row" style="margin-top:15px">
                         <div class="col-3">
						   <span>Tỉnh thành</span>				
					    </div>
                        <div class="col-7">
						    <select class="form-select" @oninput="ChonTinhTP" @bind="_TinhTp">
							<option value="@string.Empty" selected>--Tỉnh/Thành phố--</option>
							    @foreach (var x in _lstTinhTp)
							    {
								    <option value="@x.Name">@x.Name</option>
							    }
						    </select>						
					    </div>
                    </div>
                    
                    <div class="row" style="margin-top:15px">
                         <div class="col-3">
						   <span>Quận huyện</span>				
					    </div>
                        <div class="col-7">
						    <select class="form-select" @oninput="@ChonQuanHuyen"
                            @bind="@_QuanHuyen">
							<option value="@string.Empty" selected>--Quận/Huyện/Thị xã--</option>
							@foreach (var x in _lstQuanHuyen)
							{
								<option value="@x.Name">@x.Name</option>
							}
						</select>						
					    </div>
                    </div>
                      <div class="row" style="margin-top:15px">
                         <div class="col-3">
						   <span>Phường xã</span>				
					    </div>
                        <div class="col-7">
						  <select class="form-select" @oninput="@ChonXaPhuong" @bind="@_PhuongXa">
							<option value="@string.Empty" selected>--Phường/Xã--</option>
							@foreach (var x in _lstXaPhuong)
							{
								<option value="@x.Name">@x.Name</option>
							}
						</select>						
					    </div>
                    </div>
                      <div class="row" style="margin-top:15px">
                         <div class="col-3" style="display:flex;align-items:center">
						   <span style="white-space: nowrap;">Địa chỉ chi tiết</span	</div> 
                         <div class="col-7 input-text">
						    <input type="text" style="width:100%" @bind="AddressDetail"
                            placeholder="Vd:123 Phương Canh" @oninput="checkAddressDetail"/>				
					    </div>   
                    </div>
				  <div class="row" style="margin-top:15px">
                         <div class="col-3" style="display:flex;align-items:center">
						   <span style="white-space: nowrap;">Ghi chú</span	</div> 
                         <div class="col-7">
						    <textarea rows="4" style="width:100%" @bind="NoteAddresShip" @oninput="checkNoteAddresShip"/>				
					    </div>   
                  </div>
               
				</div>
                   <div style="display:flex;justify-content:center;align-items:center;margin-top:15px">
                      <button class="btn_searchUser" @onclick="checkValidateAddress" 
                      data-dismiss="@(checkPopupAddress == false ? "modal" : "")" style="width:fit-content;padding:10px 50px" >
                Địa chỉ
                </button>
                  </div>
           </div>
        </div>
    </div>
</div>

@if (isLoader)
{
	<div class="loader-overlay">
		<div class="loader-container">
			<svg class="pl" width="240" height="240" viewBox="0 0 240 240">
				<circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
				<circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
				<circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
				<circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
			</svg>
		</div>
	</div>
}

