@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="5"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<style>
	.back {
		background-color: rgba(0,0,0,0.7);
	}
</style>
<button class="btn btn-primary" @onclick="BackToManager">Trở lại</button>
<button class="btn btn-primary" @onclick="Mo_AddImage">Thêm ảnh minh họa</button>
<h1>@_nameProduct</h1>
<h2>Thông tin cần thiết</h2>
<div style="border:1px solid #d3d3d3">
	<div style="display:flex;height:60px;">
		<div class="col-md-1" style="display:flex;align-items:center;border-right:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;justify-content:center">
			<span>Màu</span>
		</div>
		<div class="col-md-11" style="display:flex;border-bottom:1px solid #d3d3d3;align-items:center">
			@foreach (var item in _lstColor_Add)
			{
				<button type="button" class="position-relative" style="border:none;background-color:#0d6efd;color:#fff;border-radius:0.25rem;display:inline-block;font-weight:400;line-height:1.5;text-decoration:none;vertical-align:middle;padding:0.375rem 0.75rem;margin-right:5px;margin-left:10px">
					@item.Name
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" @onclick="()=>RemoveMauListTam(item)">
						<i class="fa-solid fa-xmark"></i>
					</span>
				</button>
			}
			<button class="btn btn-primary"
					style="background-color:#ffffff;color:black;margin-left:10px"
					@onclick="Mo_AddColor_Tam">
				<i class="fa-solid fa-plus"></i>
			</button>
		</div>
	</div>
	<div style="display:flex;height:60px;">
		<div class="col-md-1" style="display:flex;align-items:center;border-right:1px solid #d3d3d3;border-bottom:1px solid #d3d3d3;justify-content:center">
			<span>Kích thước</span>
		</div>
		<div class="col-md-11" style="display:flex;border-bottom:1px solid #d3d3d3;align-items:center">
			@foreach (var item in _lstSize_Add)
			{
				<button type="button" class="position-relative" style="border:none;background-color:#0d6efd;color:#fff;border-radius:0.25rem;display:inline-block;font-weight:400;line-height:1.5;text-decoration:none;vertical-align:middle;padding:0.375rem 0.75rem;margin-right:5px;margin-left:10px">
					@item.Name
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" @onclick="()=>RemoveSizeListTam(item)">
						<i class="fa-solid fa-xmark"></i>
					</span>
				</button>
			}
			<button class="btn btn-primary"
					style="background-color:#ffffff;color:black;margin-left:10px"
					@onclick="Mo_AddSize_Tam">
				<i class="fa-solid fa-plus"></i>
			</button>
		</div>
	</div>
	<div style="display:flex;height:60px;">
		<div class="col-md-1" style="display:flex;align-items:center;border-right:1px solid #d3d3d3;justify-content:center">
			<span>Danh mục</span>
		</div>
		<div class="col-md-11" style="display:flex;align-items:center">
			@foreach (var item in _lstCate_Add)
			{
				<button type="button" class="position-relative" style="border:none;background-color:#0d6efd;color:#fff;border-radius:0.25rem;display:inline-block;font-weight:400;line-height:1.5;text-decoration:none;vertical-align:middle;padding:0.375rem 0.75rem;margin-right:5px;margin-left:10px">
					@item.Name
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" @onclick="()=>RemoveCateListTam(item)">
						<i class="fa-solid fa-xmark"></i>
					</span>
				</button>
			}
			<button class="btn btn-primary"
					style="background-color:#ffffff;color:black;margin-left:10px"
					@onclick="Mo_AddCate_Tam">
				<i class="fa-solid fa-plus"></i>
			</button>
		</div>
	</div>
</div>
@if (_lst_pri_Add.Count > 0)
{
	<h2>Danh sách tạo mới</h2>
	<table class="table pd">
		<thead>
			<tr>
				<th style="width:3%;text-align:center">#</th>
				<th style="text-align:center">Sản phẩm</th>
				<th style="text-align:center">Danh mục</th>
				<th style="text-align:center">Số lượng tồn</th>
				<th style="text-align:center">Giá bán</th>
				<th style="text-align:center">Trạng thái</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@{
				int sttLstSP = 1;
			}
			@foreach (var x in _lst_pri_Add)
			{
				string textErr_TonTai = string.Empty;
				string textErr_SoLuong = string.Empty;
				string textErr_GiaBan = string.Empty;
				if (_lst_pri.Where(a => a.ColorId == x.ColorId && a.SizeId == x.SizeId && a.CategoryID == x.CategoryID).Count() > 0)
				{
					textErr_TonTai = "=> Biến thể đã tồn tại. Vui lòng sử dụng chức năng cập nhật sản phẩm chi tiết!";
				}
				if (x.AvaiableQuantity <= 0 || string.IsNullOrEmpty(x.AvaiableQuantity.ToString()))
				{
					textErr_SoLuong = "=> Số lượng tồn phải lớn hơn 0";
				}
				if (x.CostPrice <= 0 || string.IsNullOrEmpty(x.CostPrice.ToString()))
				{
					textErr_GiaBan = "=> Giá bán phải lớn hơn 0";
				}
				<tr>
					<td style="vertical-align:middle;text-align:center;width:20px">@(sttLstSP++)</td>
					<td style="vertical-align:middle">@x.Name - @x.ColorName - @x.SizeName</td>
					<td style="vertical-align:middle;text-align:center">@x.CategoryName</td>
					<td style="vertical-align:middle;text-align:center">
						<div class="input-group">
							<input type="number" class="form-control" style="text-align:center" aria-label="Dollar amount (with dot and two decimal places)" @bind="x.AvaiableQuantity" oninput="limitLength(this, 9)" />
							<span class="input-group-text">cái</span>
						</div>
					</td>
					<td style="vertical-align:middle;text-align:center">
						<div class="input-group">
							<input type="number" class="form-control" style="text-align:center" aria-label="Dollar amount (with dot and two decimal places)" @bind="x.CostPrice" oninput="limitLength(this, 9)" />
							<span class="input-group-text">đồng</span>
						</div>
					</td>
					<td style="vertical-align:middle;text-align:center">
						<select class="form-select" @bind="@x.Status">
							<option value="1">Còn hàng</option>
							<option value="3">Sắp ra mắt</option>
							<option value="0">Ngừng kinh doanh</option>
						</select>
					</td>
					<td style="vertical-align:middle;text-align:center">
						<button style="width:45px;height:45px;"
								class="btn btn-danger"
								@onclick="()=>DeletePITam(x)">
							<i class="fa-solid fa-trash-xmark"></i>
						</button>
					</td>
				</tr>
				if (!string.IsNullOrEmpty(textErr_TonTai) || !string.IsNullOrEmpty(textErr_SoLuong) || !string.IsNullOrEmpty(textErr_GiaBan))
				{
					<tr>
						<td colspan="10">

							<p style="font-style:italic;color:red;margin-bottom:0px">
								@textErr_TonTai
							</p>


							<p style="font-style:italic;color:red;margin-bottom:0px">
								@textErr_SoLuong
							</p>


							<p style="font-style:italic;color:red;margin-bottom:0px">
								@textErr_GiaBan
							</p>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
	<div style="display:flex;justify-content:right">
		<button class="btn btn-primary" @onclick="AddPI">Tạo mới</button>
	</div>
}
<br />
<div class="row">
	<div class="col-md-4">
		<h2>Danh sách sản phẩm chi tiết</h2>
	</div>
	<div class="col-md-8">
		<EditForm Model="_pri_s_vm_Loc">
			<div class=" row">
				<div class="col-md-4">
					<InputSelect class="form-select" @bind-Value="_pri_s_vm_Loc.CategoryName" @onclick="ChonLoc">
						<option value="" selected>Danh mục</option>
						@foreach (var x in _lstCate_Loc)
						{
							<option value="@x.Name">@x.Name</option>
						}
					</InputSelect>
				</div>
				<div class="col-md-4">
					<InputSelect class="form-select" @bind-Value="_pri_s_vm_Loc.ColorName" @onclick="ChonLoc">
						<option value="" selected>Màu sắc</option>
						@foreach (var x in _lstColor_Loc)
						{
							<option value="@x.Name">@x.Name</option>
						}
					</InputSelect>
				</div>
				<div class="col-md-4">
					<InputSelect class="form-select" @bind-Value="_pri_s_vm_Loc.SizeName" @onclick="ChonLoc">
						<option value="" selected>Kích thước</option>
						@foreach (var x in _lstSize_Loc)
						{
							<option value="@x.Name">@x.Name</option>
						}
					</InputSelect>
				</div>
			</div>
		</EditForm>
	</div>
</div>
@if (_lst_pri == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table pd">
		<thead>
			<tr>
				<th style="width:3%;text-align:center">#</th>
				<th style="text-align:center">Sản phẩm</th>
				<th style="text-align:center">Danh mục</th>
				<th style="text-align:center">Số lượng tồn</th>
				<th style="text-align:center">Giá bán</th>
				<th style="text-align:center">Trạng thái</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@{
				int sttLstSP = 1;
			}
			@foreach (var x in _lst_pri)
			{
				<tr>
					<td style="vertical-align:middle;text-align:center">@(sttLstSP++)</td>
					<td style="vertical-align:middle">@x.Name - @x.ColorName - @x.SizeName</td>
					<td style="vertical-align:middle;text-align:center">@x.CategoryName</td>
					<td style="vertical-align:middle;text-align:center">@x.AvaiableQuantity</td>
					<td style="vertical-align:middle;text-align:center">@x.CostPrice</td>
					<td style="vertical-align:middle;text-align:center">@(x.Status == 1 ? "Còn hàng" : x.Status == 2 ? "Hết hàng" : x.Status == 3 ? "Sắp ra mắt" : "Ngừng kinh doanh")</td>
					<td style="text-align:center;vertical-align:middle">
						<button style="width:45px;height:45px"
								class="btn btn-danger"
								@onclick="()=>MoDungHDPI(x)">
							<i class="fa-solid fa-ban"></i>
						</button>
						<button style="width:45px;height:45px;"
								class="btn btn-primary"
								@onclick="()=>MoUpdatePI(x)">
							<i class="fa fa-info"></i>
						</button>
					</td>
				</tr>
			}

		</tbody>
	</table>
}
@* popup add color tạm *@
<div class="modal fade @(isModalOpenAddColor_Tam ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenAddColor_Tam ? "" : "true")"
	 style="display: @(isModalOpenAddColor_Tam ? "block" : "none")"
	 aria-modal="@(isModalOpenAddColor_Tam ? "true" : "none")"
	 role="@(isModalOpenAddColor_Tam ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Chọn màu</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("AddColor_Tam")'>&times;</button>
			</div>
			<div class="modal-body">
				<div style="display:flex">
					<select class="form-select" @bind="_idColorChon">
						<option value="00000000-0000-0000-0000-000000000000" selected>--Chọn--</option>
						@foreach (var x in _lstColor.Where(c => c.Status == 1).ToList())
						{
							<option value="@x.Id">@x.Name</option>
						}
					</select>
					<button type="button" class="btn btn-primary" @onclick="MoAddColor">
						<i class="fa-solid fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- Phần chân của popup -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("AddColor_Tam")'>Đóng</button>
				<button type="button" class="btn btn-primary" @onclick="AddMauListTam">Chọn</button>
			</div>

		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>
@* popup add cate tạm *@
<div class="modal fade @(isModalOpenAddCate_Tam ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenAddCate_Tam ? "" : "true")"
	 style="display: @(isModalOpenAddCate_Tam ? "block" : "none")"
	 aria-modal="@(isModalOpenAddCate_Tam ? "true" : "none")"
	 role="@(isModalOpenAddCate_Tam ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Chọn danh mục</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("AddCate_Tam")'>&times;</button>
			</div>
			<div class="modal-body">
				<div style="display:flex">
					<select class="form-select" @bind="_idCateChon">
						<option value="00000000-0000-0000-0000-000000000000" selected>--Chọn--</option>
						@foreach (var x in _lstCate.Where(c => c.Status == 1).ToList())
						{
							<option value="@x.Id">@x.Name</option>
						}
					</select>
					<button type="button" class="btn btn-primary" @onclick="MoAddCate">
						<i class="fa-solid fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- Phần chân của popup -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("AddCate_Tam")'>Đóng</button>
				<button type="button" class="btn btn-primary" @onclick="AddCateListTam">Chọn</button>
			</div>

		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>
@* popup add size tạm *@
<div class="modal fade @(isModalOpenAddSize_Tam ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenAddSize_Tam ? "" : "true")"
	 style="display: @(isModalOpenAddSize_Tam ? "block" : "none")"
	 aria-modal="@(isModalOpenAddSize_Tam ? "true" : "none")"
	 role="@(isModalOpenAddSize_Tam ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Chọn kích thước</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("AddSize_Tam")'>&times;</button>
			</div>
			<div class="modal-body">
				<div style="display:flex">
					<select class="form-select" @bind="_idSizeChon">
						<option value="00000000-0000-0000-0000-000000000000" selected>--Chọn--</option>
						@foreach (var x in _lstSize.Where(c => c.Status == 1).ToList())
						{
							<option value="@x.Id">@x.Name</option>
						}
					</select>
					<button type="button" class="btn btn-primary" @onclick="MoAddSize">
						<i class="fa-solid fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- Phần chân của popup -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("AddSize_Tam")'>Đóng</button>
				<button type="button" class="btn btn-primary" @onclick="AddSizeListTam">Chọn</button>
			</div>

		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>

@* popup add color *@
<div class="modal fade @(isModalOpenAddColor ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenAddColor ? "" : "true")"
	 style="display: @(isModalOpenAddColor ? "block" : "none")"
	 aria-modal="@(isModalOpenAddColor ? "true" : "none")"
	 role="@(isModalOpenAddColor ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Thêm màu sắc</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("AddColor")'>&times;</button>
			</div>
			<EditForm Model="_C_VM">
				<div class="modal-body">
					Tên màu sắc
					<InputText class="form-control" @bind-Value="@_C_VM.Name" />
				</div>
				<!-- Phần chân của popup -->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("AddColor")'>Đóng</button>
					<button type="button" class="btn btn-primary" @onclick="Add_C">Thêm</button>
				</div>
			</EditForm>
		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>

<div class="modal fade @(isModalOpenAddCate ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenAddCate ? "" : "true")"
	 style="display: @(isModalOpenAddCate ? "block" : "none")"
	 aria-modal="@(isModalOpenAddCate ? "true" : "none")"
	 role="@(isModalOpenAddCate ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Thêm danh mục</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("AddCate")'>&times;</button>
			</div>
			<EditForm Model="_Cate_VM">
				<div class="modal-body">
					Tên danh mục
					<InputText class="form-control" @bind-Value="@_Cate_VM.Name" />
				</div>
				<!-- Phần chân của popup -->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("AddCate")'>Đóng</button>
					<button type="button" class="btn btn-primary" @onclick="Add_Cate">Thêm</button>
				</div>
			</EditForm>
		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>

@* popup add size *@
<div class="modal fade @(isModalOpenAddSize ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenAddSize ? "" : "true")"
	 style="display: @(isModalOpenAddSize ? "block" : "none")"
	 aria-modal="@(isModalOpenAddSize ? "true" : "none")"
	 role="@(isModalOpenAddSize ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Thêm kích thước</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("AddSize")'>&times;</button>
			</div>
			<EditForm Model="_S_VM">
				<div class="modal-body">
					Tên kích thước
					<InputText class="form-control" @bind-Value="@_S_VM.Name" />
				</div>
				<!-- Phần chân của popup -->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("AddSize")'>Đóng</button>
					<button type="button" class="btn btn-primary" @onclick="Add_S">Thêm</button>
				</div>
			</EditForm>
		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>
@* popup add image *@
<div class="modal fade @(isModalOpenAddImage ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenAddImage ? "" : "true")"
	 style="display: @(isModalOpenAddImage ? "block" : "none")"
	 aria-modal="@(isModalOpenAddImage ? "true" : "none")"
	 role="@(isModalOpenAddImage ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered modal-lg" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Thêm ảnh minh họa</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("AddImage")'>&times;</button>
			</div>
			<div class="modal-body">
				<div>
					<h3>
						Chọn màu sắc
					</h3>
				</div>
				<div>
					@foreach (var x in _lstColor_string)
					{
						<label class="custom-radio-mau" @onclick="()=>ChonMau(x)">
							<input type="radio" name="mau" id="mau @x" />
							<span class="">@x</span>
						</label>
					}
				</div>
				@if (!string.IsNullOrEmpty(_chonMau))
				{
					<div>
						<div>
							<h3>
								Ảnh hiện tại
							</h3>
						</div>
						<div>
							@foreach (var img in _lstImg.OrderBy(c => c.STT))
							{

								<img class="img-thumbnail position-relative" src="/images/@img.PathImage" style="width: 100px;height:110px;vertical-align:top;margin-right:-5px;margin-bottom:15px" />
								<span class="position-absolute translate-middle badge rounded-pill bg-danger" @onclick="()=>XoaAnhTam(img)" style="cursor:pointer">
									<i class="fa-solid fa-xmark"></i>
								</span>
								<span>&emsp;&ensp;</span>
							}
							<InputFile class="a1" id="customFile" OnChange="ChangeEv" />
							<label class="a2" for="customFile"></label>
						</div>
					</div>
				}
			</div>
			<!-- Phần chân của popup -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("AddImage")'>Đóng</button>
				<button type="button" class="btn btn-primary" @onclick="XacNhanAddImg">Xác nhận</button>
			</div>
		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>
@* popup update PI *@
<div class="modal fade @(isModalOpenUpdatePI ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenUpdatePI ? "" : "true")"
	 style="display: @(isModalOpenUpdatePI ? "block" : "none")"
	 aria-modal="@(isModalOpenUpdatePI ? "true" : "none")"
	 role="@(isModalOpenUpdatePI ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered modal-lg" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Cập nhật</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("UpdatePI")'>&times;</button>
			</div>
			<div class="modal-body">
				<div class="form-floating">
					<input type="text" class="form-control" placeholder="Sản phẩm" @bind="_pri_s_vm_Update.Name" disabled>
					<label>Sản phẩm</label>
				</div>
				<br />
				<div class="row">
					<div class="col-md-4">
						<div class="form-floating">
							<select class="form-select" @bind="_pri_s_vm_Update.ColorId">
								@foreach (var item in _lstColor)
								{
									<option value="@item.Id">@item.Name</option>
								}
							</select>
							<label for="floatingSelect">Màu</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-floating">
							<select class="form-select" @bind="_pri_s_vm_Update.SizeId">
								@foreach (var item in _lstSize)
								{
									<option value="@item.Id">@item.Name</option>
								}
							</select>
							<label for="floatingSelect">Kích thước</label>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-floating">
							<select class="form-select" @bind="_pri_s_vm_Update.CategoryID">
								@foreach (var item in _lstCate)
								{
									<option value="@item.Id">@item.Name</option>
								}
							</select>
							<label for="floatingSelect">Kích thước</label>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-4">
						<div class="input-group">
							<div class="form-floating">
								<input type="number" class="form-control" placeholder="Số lượng tồn"
									   @bind="_pri_s_vm_Update.AvaiableQuantity" oninput="limitLength(this, 9)">
								<label>Số lượng tồn</label>
							</div>
							<span class="input-group-text">cái</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="input-group">
							<div class="form-floating">
								<input type="number" class="form-control" placeholder="Giá bán"
									   @bind="_pri_s_vm_Update.CostPrice" oninput="limitLength(this, 9)">
								<label>Giá bán</label>
							</div>
							<span class="input-group-text">đồng</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-floating">
							<select class="form-select" @bind="_pri_s_vm_Update.Status">
								<option value="1">Còn hàng</option>
								<option value="2">Hết hàng</option>
								<option value="3">Sắp ra mắt</option>
								<option value="0">Ngừng kinh doanh</option>
							</select>
							<label for="floatingSelect">Trạng thái</label>
						</div>
					</div>
				</div>
			</div>
			<!-- Phần chân của popup -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("UpdatePI")'>Đóng</button>
				<button type="button" class="btn btn-primary" @onclick="XacNhanUpdate">Xác nhận</button>
			</div>
		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>

@* popup xoa PI *@
<div class="modal fade @(isModalOpenXoaPI ? "show back" : "")"
	 tabindex="-1"
	 aria-hidden="@(isModalOpenXoaPI ? "" : "true")"
	 style="display: @(isModalOpenXoaPI ? "block" : "none")"
	 aria-modal="@(isModalOpenXoaPI ? "true" : "none")"
	 role="@(isModalOpenXoaPI ? "dialog" : "none")">
	<div class="modal-dialog modal-dialog-centered" style="width:150%">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Thông báo</h4>
				<button style="border:none;background-color:#fff" class="close" @onclick='()=>ClosePopup("XoaPI")'>&times;</button>
			</div>
			<div class="modal-body">
				<span>Bạn có chắc muốn chuyển trạng thái thành ngừng kinh doanh?</span>
			</div>
			<!-- Phần chân của popup -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" @onclick='()=>ClosePopup("XoaPI")'>Đóng</button>
				<button type="button" class="btn btn-primary" @onclick="XacNhanXoaPI">Xác nhận</button>
			</div>
		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.BottomRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>