@using DATN_Client.Areas.Admin.Controllers;
<style>
	.number-input {
		display: flex;
		align-items: center;
	}

	.input-wrapper {
		display: flex;
		align-items: center;
		border: 1px solid #ccc;
		border-radius: 20px;
		padding: 5px;
	}

	.input-field {
		margin-left: 10px;
		width: 50px;
		text-align: center;
		border: none;
		background-color: transparent;
		pointer-events: none;
	}

	.minus-button,
	.plus-button {
		width: 30px;
		height: 30px;
		border: none;
		background-color: transparent;
		color: #337ab7;
		font-weight: bold;
		cursor: pointer;
	}

	.minus-button:hover,
	.plus-button:hover {
		color: #286090;
	}
</style>
<h3>@_nameCate</h3>
<br />
<div class="row">
	<div class="col-md-7" style="display:flex">
		<div class="col-md-4" style="height: 550px; overflow-y: auto;width:120px">
			@foreach (var x in _lstImg_PI.OrderBy(c => c.STT))
			{
				<div style="margin-bottom:30px;margin-top:30px">
					<a @onclick="()=>LoadAnh(x.Id)">
						<img src="/images/@x.PathImage" alt="" style="width: 100px;height: 110px;" />
					</a>
				</div>
			}
		</div>
		<div class="col-md-8" style="text-align:center">
			<a>
				<img src="/images/@_path_Tam" alt="" style="width:700px;height:770px;margin-top:8.5px" />
			</a>
		</div>

	</div>
	<div class="col-md-5">
		<h1>@_nameP</h1><br />
		<p>@_gia</p><br /><br />
		<p>Màu sắc: </p>
		@foreach (var x in _lstPrI_show_VM.Select(c => c.ColorName).Distinct())
		{
			<button>@x</button>
		}
		<br />
		<p>Kích thước: </p>
		@foreach (var x in _lstPrI_show_VM.Select(c => c.SizeName).Distinct())
		{
			<button>@x</button>
		}
		<div class="number-input">
			<div class="input-wrapper">
				<button class="minus-button" @onclick="SL_Tru">-</button>
				<input type="number" class="input-field" readonly @bind-value="@_soLuong">
				<button class="plus-button" @onclick="SL_Cong">+</button>
			</div>
		</div>
		<button>Thêm vào giỏ hàng</button>
	</div>
</div>

