@inject IJSRuntime _JsRuntime
@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="5"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<div class="card">
	<div class="card-body">
		<div class="pagetitle">
			<h1>Quản lý sản phẩm</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Home</a></li>
					<li class="breadcrumb-item">Quản lý thuộc tính</li>
					<li class="breadcrumb-item active">Sản phẩm</li>
				</ol>
			</nav>
		</div><!-- End Breadcrumbs with a page title -->
	</div>
</div>

<div class="row">
	<div class="col-lg-6">

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Thuộc tính sản phẩm</h5>
				<EditForm Model="products_VM">
					<DataAnnotationsValidator />
					<div class="row">
						<div class="col-md-4"><span>Tên</span></div>
						<div class="col-md-8">
							<InputText class="form-control" @bind-Value="@products_VM.Name" />
							<ValidationMessage For="()=>products_VM.Name" style="color:red;" />
						</div>
					</div>

					<br />
					<div class="row">
						<div class="col-md-4"><span>Mã</span></div>
						<div class="col-md-8">
							<InputText class="form-control" @bind-Value="@products_VM.ProductCode" />
							<ValidationMessage For="()=>products_VM.ProductCode" style="color:red;" />
							@if (!string.IsNullOrEmpty(products_VM.ProductCode))
							{
								<span style="color:red;">@_check_productCode_byCode</span>
							}
						</div>
					</div>


					<br />
					<div class="row" style="height:100%;">
						<div class="col-md-4"><span>Mô tả</span></div>
						<div class="col-md-8 mb-3" style="display:flex">
							<textarea class="form-control"
									  style="overflow-y: hidden;resize: none;" oninput="autoResizeTextarea()"
									  id="auto-resize-textarea" rows="3"
									  @bind="@products_VM.Description">
							</textarea>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-4"><span>Trạng thái</span></div>
						<div class="col-md-8">
							<div class="row">
								<InputRadioGroup @bind-Value="@products_VM.Status" class="form-control">
									<div class="col-sm-6">
										<InputRadio Value="1" /> Hoạt động
									</div>
									<div class="col-sm-6">
										<InputRadio Value="0" /> Ngừng hoạt động
									</div>
								</InputRadioGroup>
							</div>
						</div>
					</div>
					<br />
					<div class="row mb-3">
						<!--popup-->
						<label class="col-sm-4 col-form-label">Submit </label>
						<div class="col-sm-8">
							<button type="submit" class="btn btn-outline-success" style="float:center" data-bs-toggle="modal" data-bs-target="#Add">Create</button>
							<button type="submit" class="btn btn-outline-success" style="float:center" data-bs-toggle="modal" data-bs-target="#update">Update</button>
							<!--popup add-->
							<div class="modal fade" id="Add" tabindex="-1">
								<BlazoredToasts Position="ToastPosition.BottomRight"
												Timeout="5"
												IconType="IconType.FontAwesome"
												SuccessClass="success-toast-override"
												SuccessIcon="fa-solid fa-check"
												ErrorIcon="fa-solid fa-triangle-exclamation" />
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Thêm mới</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											Bạn có xác nhận thêm mới sản phẩm hay không?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
											<button type="button" class="btn btn-primary" @onclick="AddProduct">Xác nhận</button>
										</div>
									</div>
								</div>
							</div> <!--end popup add-->
							<!--popup update-->
							<div class="modal fade" id="update" tabindex="-1">
								<BlazoredToasts Position="ToastPosition.BottomRight"
												Timeout="5"
												IconType="IconType.FontAwesome"
												SuccessClass="success-toast-override"
												SuccessIcon="fa-solid fa-check"
												ErrorIcon="fa-solid fa-triangle-exclamation" />
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Update </h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											Bạn có xác nhận cập nhật sản phẩm hay không?
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" @onclick="()=>UpdateProduct(products_VM)">Update</button>
										</div>
									</div>
								</div>
							</div> <!--end popup update-->
						</div>
					</div>
				</EditForm>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">
				@{
					int count = 1;
				}
				<div class="row">
					<div class="col-md-5" style="display:flex;align-items:center">
						<h4 style="margin-top:20px">Danh sách sản phẩm</h4>
					</div>
					<div class="col-md-7" style="display:flex;align-items:center;justify-content:right">
						<div style="display:flex;width:80%">
							<input type="text" class="form-control" @bind="_textSearch"
								   placeholder="Tìm kiếm theo tên hoặc mã sản phẩm" />
							<button type="submit" class="btn btn-primary"
									@onclick="TimKiem" style="width:14%;">
								<i class="fa-solid fa-magnifying-glass"></i>
							</button>
						</div>
					</div>
				</div>

				<div class="pagetitle">
				</div>
				@if (products == null)
				{
					<p><em>Loading...</em></p>
				}
				else
				{
					<div style="height: 500px; overflow-y: auto;">
						<table class="table">
							<thead>
								<tr>
									<th style="text-align:center">#</th>
									<th style="text-align:center">Tên</th>
									<th style="text-align:center">Mã</th>
									<th style="text-align:center">Trạng Thái</th>
									<th style="text-align:center">Chức năng</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var x in products)
								{
									<tr>
										<td style="text-align:center;vertical-align:middle">
											@(count++)
										</td>
										<td style="text-align:center;vertical-align:middle">
											@x.Name
										</td>
										<td style="text-align:center;vertical-align:middle">
											@x.ProductCode
										</td>
										<td style="text-align:center;vertical-align:middle">
											@(x.Status == 1 ? "Hoạt động" : "Ngừng hoạt động")
										</td>
										<td style="text-align:center;vertical-align:middle">
											<button style="width:45px;height:45px"
													class="btn btn-warning"
													@onclick="()=>LoadForm(x)">
												<i class="fa-solid fa-wrench"></i>
											</button>
											<button style="width:45px;height:45px;"
													class="btn btn-primary"
													@onclick="()=>RedirectCRUD(x.Id)">
												<i class="fa fa-info"></i>
											</button>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				}
			</div>
		</div>
	</div>
</div>
