@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="5"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" 
                />


@if(isLoader)
{
    <div class="loader-overlay">
    <div class="loader-container">
      <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
        <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
      </svg>
    </div></div>
}
else
{
<div class="row" style="height:100vh;">
      
    <div class="col-9" style="height:100%;display:flex;flex-direction:column">
        <div style="width:100%">
           <div style="height:55vh;margin-bottom:20px;background-color:#fff">
                <div style="display:flex; align-items:center;gap:3px;border-bottom:solid;">
                @foreach (var x in _lstBill_Vm_show)
                {
                    <div class="@(BillId.ToString() == x.Id.ToString() ? "choseBill" :
                "noChoseBill abc")" style="
                    align-items: center;
                    justify-content: center;
                    border-top-left-radius: 0.75rem;
                    border-top-right-radius: 0.75rem;
                    border:none;
                    cursor:pointer;
                    display:flex;
                    ">
                        <label class="cba @(BillId.ToString() == x.Id.ToString() ? "choseBill " :
                "noChoseBill abc cba")" style="  display: flex;
                    align-items: center;
                    padding: 5px 0px 5px 10px;
                    justify-content: center;
                    border-top-left-radius: 0.75rem;
                    border-top-right-radius: 0.75rem;
                    border:none;
                    cursor:pointer;
                   "
                           @onclick="()=>getBillId(x.Id)">
                            <label style="user-select: none">@x.BillCode</label>

                        </label>
                        <label class="closeBill" @onclick="()=>closeBill(x.Id)" style="display:flex;font-size:10px;cursor:pointer;text-align:center;margin-right:5px;margin-left:5px">X</label>
                    </div>
                }
                <i class="fa-solid fa-circle-plus" style="font-size:35px;cursor:pointer" @onclick="()=>addBill()"></i>
            </div>
                        @{
                             int a = 1;
                        }
                @if(_lstBillItemShow.Count !=0 )
                {
<div style="overflow-y: scroll;height:100%">
                            <table style="width:100%" class="table-sellStall">
                    <thead style="background-color:#f2f2f2;color:#000">
                    <th style="width:5%">STT</th>
                    <th style="width:30%">Sản phẩm</th>
                    <th style="width:5%">Size</th>
                    <th style="width:8%">Màu</th>
                    <th style="width:5%">Trừ</th>
                    <th>SL</th>
                    <th style="width:5%">Cộng</th>
                    <th style="width:5%">Tồn</th>
                    <th style="width:15%">Giá</th>
                    <th>Thành tiền</th>
                    </thead>
                    <tbody>                     
                       @if ( _lstBillItemShow != null  &&  _lstBillItemShow.Count != 0)
                            {
                                 @foreach (var x in _lstBillItemShow)
                            {
                                <tr>
                            <td style="text-align:center">@a  </td>
                            <td style="overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1; border:none">
                               <div>
                                    <i class="fa-solid fa-trash-can" style="color: #ee4444;margin-right:5px;cursor:pointer" @onclick="()=>RemoveBillItem(x.Id)">

                                </i>@x.ProductName 
                               </div>

                                </td>
                            <td style="text-align:center">@x.SizeName</td>
                            <td style="text-align:center">@x.ColorName</td>
                            <td class="" style="padding:0px">
                                <div class="div_tru">
                                    <span class="fa-solid fa-minus" @onclick="()=>MinusQuantityToBillItem(x.Id)"></span>
                               </div>
                            </td>
                            <td style="text-align:center;">
                                <span style="text-align:center">@x.Quantity</span>
                            </td>
                            <td class="" style="padding:0px">
                                <div class="div_tru">
                                    <span class="fa-solid fa-plus" @onclick="()=>AddQuantityToBillItem(x.Id)"></span>
                                </div>
                            </td>
                            <td style="text-align:center">
                                 <span>@(x.AvailableQuantity-x.Quantity)</span>
                            </td>
                            <td style="text-align:right;">@x.Price</td>
                            <td style="text-align:right;">@(x.Price*x.Quantity)</td>
                        </tr>
                        a++;
                            }
                            }
                    </tbody>
                </table>
                        </div>
                    }
                    else
                    {
                        <div class="show-image-no-product-cart">
                            <img src="/images/noProductInCart.png" style="width:20%;margin-bottom:100px "/>
                        </div>
                    }
           </div>
           <div style="background-color:#fff;width:100%;height:30vh">
               <input type="text" style="width:30%;border-radius:7px;margin-bottom:10px" 
               @oninput="SearchProduct"
               placeholder="Tìm kiếm sản phẩm"/>
            <div class="showlistProduct">             
            @foreach (var x in _lstP)
                    {
                       <div data-target="#ChooseSizeAndColor" data-toggle="@(checkBillIsNull == false ? "modal":"")" @onclick=" () => getProductChooseSizeAndColor(x.Id)">
                            @{
                                string img = _lstImg_PI.Where(c => c.ProductId == x.Id).OrderBy(c => c.STT).Select(c => c.PathImage).FirstOrDefault();
                            }
                            <div style="display:flex;flex-direction:column;width:100px;grid-column: span 1 / span 8;">
                               <img src="/images/1.png"
                               class="imagelistShow"/>
                               <span class="titleNameProduct">
                                   @x.Name
                               </span>
                               <span>@x.ProductCode</span>
                            </div>
                       </div>
                    }
            </div>
           </div>
        </div>
    </div>
    <div class="col-3" style="padding:0px">
       <div style="display:flex;flex-direction:column;">
            <span style="font-weight:700;font-size:18px">
            THANH TOÁN ĐƠN HÀNG
        </span>
        <div style="display:flex;"><span style="margin-right:5px">Thêm thông tin</span
        ><input type="checkbox" @bind="activeTabThemThongTin"/></div>
        <div class="row" style="margin-top:5px;" >
            <div class="col-5" style="display:flex;justify-content:center;align-items:center">
                <button class="col-4 btn_searchUser" data-target="#CancelOrder" data-toggle="modal" @onclick="getAllUser">  
                Khách hàng
                </button>
            </div>
            <div class="col-6" style="font-size:14px;display:flex;align-items:center;font-weight:700">
               
                 @if (getuser.Id != default && getuser.UserName.ToString() != "khachvanglai")
                {
                  <div style="display:flex;flex-direction:column">
                    <label class="nameUser">@getuser.Name</label>
                    <label>@getuser.PhoneNumber</label>                
                    <label>@pointKhachhang điểm</label>                             
                  </div>
                }
                else if(getuser.Id != default && getuser.UserName.ToString() == "khachvanglai")
                {
                    <label style="font-weight:700"> Khách hàng chưa có thông tin.</label>
                }          
            </div>
            <div class="col-1" style="font-size:25px;display:flex;align-items:center">
               <i class="fa-solid fa-xmark" style="color: #000;cursor:pointer;" @onclick="ClearInfoUser"></i>
            </div>
       </div>
       <div class="row" style="margin-top:5px;">
           <div class="col-5">
               <span >Tổng tiền hàng</span>
           </div>
           <div class="col-7" style="text-align:right">
               <span >@TongtienhangText đ</span>
           </div>
       </div>
        @if (getuser.Id != default && getuser.UserName.ToString() != "khachvanglai")
            {
                 <div class="row" style="margin-top:5px;">
           <div class="col-5" style="display:flex;gap:5px;align-items:center">
              <div style="display:flex; flex-direction:column">
                <div style="display:flex;align-items:center">
                    <span style="margin-right:5px">Dùng điểm</span><input type="checkbox" @bind="activeTabDungDiem" @oninput="CheckDungDiem"/>
                </div>
                <span style="font-size:14px;color:#9d9e9f">
                   @( DiemToiDa != 0  && activeTabDungDiem == true ?   "Tối đa "+ @DiemToiDa+ " điểm" : "" ) 
                </span>
              </div>
           </div>
           <div class="col-7 input-Number" style="display:flex;justify-content:flex-end;align-items:center">
              <input type="number" class="" style="text-align:right;width:60%" readonly="@(!@activeTabDungDiem)" @oninput="ChangeInputTichDiem" @bind="InputTichDiem"/>
           </div>
       </div>
   @*  if (activeTabDungDiem==true)
                    {
                          <div class="row" style="margin-top:5px;">
           <div class="col-5" style="display:flex;gap:5px">
               <span>Điểm quy đổi</span>
           </div>
           <div class="col-7" style="display:flex;justify-content:flex-end">
              <span>10,000đ</span>
           </div>
       </div>  
                    }
                    else
                    {
                    }*@
            }
            
        @if (activeTabThemThongTin==true)
            {
               
       <div class="row" style="margin-top:5px;align-items:center">
           <div class="col-5"><button class="col-4 btn_searchUser" data-target="#AddressShipSellStall" data-toggle="modal">
                Địa chỉ
                </button>
            </div>
           <div class="col-12" style="display:flex;flex-direction:column;margin-top:10px">
               @if (ShowDiaChi != "")
               {
               <span style="font-weight:700">                  
                @ShowDiaChi                    
               </span>
               <span style="display:flex;flex-direction:column">
                  <span>
                       Người nhận: @nameNguoiNhan
                  </span>
                  <span>
                       Số điện thoại: @phoneNumberNguoinhan
                  </span>
               </span>
                }
           </div>
       </div>
       <div class="row" style="margin-top:5px;align-items:center">
           <div class="col-5" style="display:flex;gap:5px">
               <span>Phí vận chuyển</span>
           </div>
           <div class="col-7 input-Number" style="display:flex;justify-content:flex-end">
              <input type="number" @oninput="checkPhiShip" @bind="PhiShip"/>
           </div>
       </div>
            }
        <div class="row" style="margin-top:5px;align-items:center">
           <div class="col-5" style="display:flex;gap:5px">
               <span>Tổng tiền</span>
           </div>
           <div class="col-7" style="display:flex;justify-content:flex-end">
              <span>@TongtienText đ</span>
           </div>
       </div>
         <div class="row" style="margin-top:5px;align-items:center">
           <div class="col-12" style="display:flex;gap:5px">
               <span>Phương thức thanh toán</span>
           </div>       
         
       </div>
        <div class="row" style="margin-top:5px;align-items:center;margin-top:10px">
           <div class="col-12" style="display:flex;gap:5px">
               <button class="btnPhuongThucThanhToan @(activeTienMat==true ? "acttiveTabPTTTT":"")" @onclick="ActiveTabTienMat">Tiền mặt</button>
               <button class="btnPhuongThucThanhToan @(activeChuyenKhoan==true ? "acttiveTabPTTTT":"")" @onclick="ActiveTabChuyenKhoan">Chuyển khoản</button>
           </div>       
       </div>
       @if (activeTienMat==true)
            {
          <div class="row " style="margin-top:5px;margin-top:10px" >
           <div class="col-12 input-Number" style="display:flex;gap:5px;justify-content:end;align-items:center">
               <i class="fa-solid fa-money-bill" style="color: #5cb85c;"></i>
                <input type="number" style=" padding:0px;" @oninput="CheckInputTienMat" @bind="InputTienMat"/>
                <i class="fa-solid fa-x"  style="color: #ee4444;cursor:pointer" @onclick="CloseTabTienMat"></i>
           </div>       
       </div>
            }
            @if (activeChuyenKhoan==true)
            {
                  <div class="row" style="margin-top:5px;margin-top:10px">
           <div class="col-12 input-Number" style="display:flex;gap:5px;justify-content:end;align-items:center">
               <i class="fa-solid fa-credit-card" style="color: #5cb85c;"></i>
                <input type="number" style=" padding:0px;" @oninput="CheckInputChuyenKhoan" @bind="InputChuyenKhoan"/>
                <i class="fa-solid fa-x"  style="color: #ee4444;cursor:pointer" @onclick="CloseTabChuyenKhoan" ></i>
           </div>       
       </div>
            }
             <div class="row" style="margin-top:35px;align-items:center">
           <div class="col-5" style="display:flex;gap:5px">
               <span>Tiền khách đưa</span>
           </div>
           <div class="col-7" style="display:flex;justify-content:flex-end;text-align:end">
              <span> @CountPayment đ</span>
           </div>
       </div>
         <div class="row" style="margin-top:5px;align-items:center">
           <div class="col-5" style="display:flex;gap:5px">
               <span>Tiền trả lại</span>
           </div>
           <div class="col-7" style="display:flex;justify-content:flex-end;text-align:end">
              <span>@tienRefundText đ</span>
           </div>
       </div>
       <div style="margin-top:5px">
           @tienRefundFormat
       </div>

        <div class="row" style="margin-top:25px;display:flex;justify-content:center;align-items:center;padding:0px">
           <div class="col-12" style="padding:0px">
               <button class="btnEndBill" @onclick="ThanhToan" >
                    Thanh Toán
               </button>
           </div>
          
       </div>
      
       
    </div>
</div>
</div>







<div class="modal fade" id="AddressShipSellStall">
        <BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="8"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" 
                />
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Phần tiêu đề của popup -->
            <div class="modal-header" style="background-color:#f2cc8c">
                <h6 class="modal-title">Thông tin địa chỉ giao hàng</h6>
                <i class="fa-solid fa-xmark close" style="cursor: pointer;" data-dismiss="modal"></i>
            </div>
           <div>
               <div style="margin-top:15px;padding-left:20px">

                       <div class="row" style="margin-top:5px;">
           <div class="col-3" style="display:flex;gap:5px;align-items:center">
               <span>Người nhận</span>
           </div>
           <div class="col-7 input-text" style="display:flex;justify-content:flex-end">
              <input type="text" style="width:100%" placeholder="Tên người nhận" @oninput="checkNameNguoiNhan" />
           </div>
       </div>
       <div class="row" style="margin-top:5px;align-items:center">
           <div class="col-3" style="display:flex;gap:5px">
               <span>Số điện thoại</span>
           </div>
           <div class="col-7 input-Number" style="display:flex;justify-content:flex-end">
              <input type="number" style="width:100%" placeholder="Số điện thoại" maxlength="10" @oninput="checkPhoneNumberNguoiNhan"/>
           </div>
       </div>

					<div class="row" style="margin-top:15px">
                         <div class="col-3">
						   <span>Tỉnh thành</span>				
					    </div>
                        <div class="col-7">
						    <select class="form-select" @oninput="ChonTinhTP">
							<option value="@string.Empty" selected>--Tỉnh/Thành phố--</option>
							    @foreach (var x in _lstTinhTp)
							    {
								    <option value="@x.Name">@x.Name</option>
							    }
						    </select>						
					    </div>
                    </div>
                    
                    <div class="row" style="margin-top:15px">
                         <div class="col-3">
						   <span>Quận huyện</span>				
					    </div>
                        <div class="col-7">
						    <select class="form-select" @oninput="@ChonQuanHuyen"
                            @bind="@_QuanHuyen">
							<option value="@string.Empty" selected>--Quận/Huyện/Thị xã--</option>
							@foreach (var x in _lstQuanHuyen)
							{
								<option value="@x.Name">@x.Name</option>
							}
						</select>						
					    </div>
                    </div>
                      <div class="row" style="margin-top:15px">
                         <div class="col-3">
						   <span>Phường xã</span>				
					    </div>
                        <div class="col-7">
						  <select class="form-select" @oninput="@ChonXaPhuong">
							<option value="@string.Empty" selected>--Phường/Xã--</option>
							@foreach (var x in _lstXaPhuong)
							{
								<option value="@x.Name">@x.Name</option>
							}
						</select>						
					    </div>
                    </div>
                      <div class="row" style="margin-top:15px">
                         <div class="col-3" style="display:flex;align-items:center">
						   <span style="white-space: nowrap;">Địa chỉ chi tiết</span	</div> 
                         <div class="col-7 input-text">
						    <input type="text" style="width:100%"
                            placeholder="Vd:123 Phương Canh" @oninput="checkAddressDetail"/>				
					    </div>   
                    </div>
				  <div class="row" style="margin-top:15px">
                         <div class="col-3" style="display:flex;align-items:center">
						   <span style="white-space: nowrap;">Ghi chú</span	</div> 
                         <div class="col-7">
						    <textarea rows="4" style="width:100%" @oninput="checkNoteAddresShip"/>				
					    </div>   
                  </div>
               
				</div>
                   <div style="display:flex;justify-content:center;align-items:center;margin-top:15px">
                      <button class="btn_searchUser" @onclick="checkValidateAddress" 
                      data-dismiss="@(checkPopupAddress == false ? "modal" : "")" style="width:fit-content;padding:10px 50px" >
                Địa chỉ
                </button>
                  </div>
           </div>
        </div>
    </div>
</div>





<div class="modal fade" id="CancelOrder">

    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Phần tiêu đề của popup -->
            <div class="modal-header" style="background-color:#f2cc8c">
                <h6 class="modal-title">Tìm kiếm khách hàng</h6>
                <i class="fa-solid fa-xmark close" style="cursor: pointer;" data-dismiss="modal"></i>
            </div>
            <!-- Nội dung của popup -->
            <div class="container">
                <div style="display:flex;align-items:center" class="input-text">
                    <input type="text" @oninput="SearchUser" class="input_SearchUser" placeholder="Nhập tên hoặc số điện thoại khách hàng"/>
                    <i class="fa-solid fa-user-plus" style="cursor:pointer" data-toggle="modal" data-target="#AddUserVangLai" data-dismiss="modal"
                    @onclick="getAllUser"
                    ></i>
                </div>
                @{
                    Guid id = Guid.Parse("3de28ff2-c838-481e-bd90-1925a4bf452a");
                }
                <div style="height:300px;overflow-y:auto;">
                      <div class="UserShow" @onclick="()=>ClearInfoUser()" data-dismiss="modal">
                        Khách vãng lai
                    </div>
                    @foreach (var x in _lstUser)
                    {
                        <div class="UserShow" @onclick="()=>GetUserFormSearchUser(x.Id)" data-dismiss="modal">
                            @x.Name : @x.PhoneNumber
                        </div>
                    }
                  
                </div>
            </div>


            <!-- Phần chân của popup -->

        </div>
    </div>
</div>



<div class="modal fade" id="AddUserVangLai">   
     <BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="8"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" 
                />
    <div class="modal-dialog ">
        <div class="modal-content ">

            <!-- Phần tiêu đề của popup -->
            <div class="modal-header" style="background-color:#f2cc8c">
                <h6 class="modal-title">Thêm thông tin sản phẩm</h6>
                <i class="fa-solid fa-xmark close" style="cursor: pointer;" data-dismiss="modal"></i>
            </div>
            <!-- Nội dung của popup -->
            <div class="container">
                    <div class="row" style="margin-top:5px;">
           <div class="col-3" style="display:flex;gap:5px;align-items:center">
               <span>Khách hàng</span>
           </div>
           <div class="col-7 input-text" style="display:flex;justify-content:flex-end">
              <input type="text" style="width:100%" placeholder="Tên khách hàng" @oninput="checkNameKhachHang" @bind-value="nameKhachhangdefault"/>
           </div>
       </div>
            <div class="row" style="margin-top:5px;">
           <div class="col-3" style="display:flex;gap:5px;align-items:center">
               <span>Số điện thoại</span>
           </div>
           <div class="col-7 .input-Number" style="display:flex;justify-content:flex-end">
              <input type="number" style="width:100%" placeholder="Số điện thoại" @oninput="checkPhoneNumberKhachHang" @bind-value="numberPhoneKhachHangdefault"/>
           </div>
       </div>
        <div class="row" style="margin-top:20px">
                    <div style="display:flex;justify-content:center;align-items:center;margin-top:10px">
                      <button class="btn_searchUser" @onclick="checkValidateAddUser" 
                      data-dismiss="@(checkPopupAddUser == false ? "modal" : "")"      
                        style="width:fit-content;padding:10px 50px" >
                         Thêm khách hàng
                </button>
                  </div>             
               </div>
            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="ChooseSizeAndColor">   
    
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Phần tiêu đề của popup -->
            <div class="modal-header" style="background-color:#f2cc8c">
                <h6 class="modal-title">Thêm thông tin sản phẩm</h6>
                <i class="fa-solid fa-xmark close" style="cursor: pointer;" data-dismiss="modal"></i>
            </div>
            <!-- Nội dung của popup -->
            <div class="container">
               <div class="row" style="margin-top:20px">
                   <div class="col-3">Size hiện có</div>
                   <div class="col-8">
                     @if (_lstSize.Count > 0 )
                        {
                              @foreach (var x in _lstSize )
                            {
                                <button class=" @(activeSize == x.Id ? "acttiveTabPTTTT":"btnSize")" @onclick="()=>getSizeAndShowColor(x.Id)">@x.Name</button>
                            }
                        }
                   </div>
               </div>
                <div class="row" style="margin-top:20px">
                   <div class="col-3">Màu hiện có</div>
                   <div class="col-8">
                     @if (_lstColor.Count > 0 )
                        {
                              @foreach (var x in _lstColor )
                            {
                                <button class=" @(activeColor == x.Id ? "acttiveTabPTTTT":"btnSize")" @onclick="()=>getColorAndgetQuantityProductItem(x.Id)"> @x.Name</button>
                            }
                        }
                   </div>
               </div>
               <div class="row" style="margin-top:20px">
                   <div class="col-3 ">Tồn kho</div>
                   <div class="col-8">
                     <span style="margin-left: 10px;">@SoluongProductItem</span>
                   </div>
               </div>
                <div class="row" style="margin-top:20px">
                   <div class="col-3 ">Số lượng</div>
                   <div class="col-8">
                      <div class="div-quantity input-Number">
                            <div class="minus-plus-hover" @onclick="MinusSoluongProduct">
                                <span class="fa-solid fa-minus minus-plus-hover" style="width:100%;height:100%;display:flex;justify-content:center;align-items:center"></span>
                            </div>
                          <input type="number" style="width:40%;padding:0px;text-align:center;
                            border-right:1px solid #a99662;border-left:1px solid #a99662;border-bottom:none" @bind-value="SoluongProductItemMua" @oninput="CheckSoluongProductItemMua"
                          />                       
                           <div class="@(activePlus==true?"minus-plus-hover-active":"minus-plus-hover")" 
                           disabled="@(!activePlus)" @onclick="PlusSoluongProduct"
                           >
                                <span class="fa-solid fa-plus" style="width:100%;height:100%;display:flex;justify-content:center;align-items:center"></span>
                            </div>
                      </div>
                   </div>
               </div>
                <div class="row" style="margin-top:40px">
                   <div class="col-12 ">
                       <button class=" @(activeBtnAddProductToBill==true?"btn-SuccesAddProductToBill":"btn-SuccesAddProductToBillDisable")" disabled="@(!activeBtnAddProductToBill)" 
                       @onclick="AddProductToBill" 
                        data-dismiss="modal">
                           Xác nhận
                       </button>
                   </div>                
               </div>
            </div>
        </div>
    </div>
</div>
}