@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-check-circle"
                ErrorIcon="fa-solid fa-triangle-exclamation" />

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa-solid fa-check"
                ErrorIcon="fa-solid fa-triangle-exclamation" />

<style>
    .btnTrongSuot {
        background-color: transparent;
        color: blue;
        border: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btnTrongSuot2 {
        background-color: transparent;
        border: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btnTrongSuot1 {
        background-color: transparent;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
        border: 2px solid #555;
        cursor:pointer;
    }

        .btnTrongSuot1:active,
        .btnTrongSuot1:focus,
        .btnTrongSuot1:hover {
        border: 2px solid #555;
        outline: none; /* Loại bỏ đường viền màu xanh khi được nhấp */
    }

    .btne:disabled {
        opacity: .7;
        cursor: not-allowed;
    }

    .back {
        background-color: rgba(0,0,0,0.7);
    }

    .notpoundimg {
        height: 550px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .btnAddress {
        border: none;
        display: flex;
        padding: 0.75rem 1.5rem;
        background-color: #488aec;
        color: #ffffff;
        font-size: 0.75rem;
        line-height: 1rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        align-items: center;
        border-radius: 0.5rem;
        user-select: none;
        gap: 0.75rem;
        box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
        transition: all .6s ease;
    }

        .btnAddress:hover {
            box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
        }

        .btnAddress:focus, button:active {
            opacity: .85;
            box-shadow: none;
        }

        .btnAddress i {
            font-size: 1.2rem;
        }

    .loader-container1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ 0.5 */
        z-index: 9999; /* Đảm bảo loader hiển thị trên các phần tử khác */
    }

    .loader1 {
        --path: #2f3545;
        --dot: #5628ee;
        --duration: 3s;
        width: 44px;
        height: 44px;
        position: relative;
    }

        .loader1:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            display: block;
            background: var(--dot);
            top: 37px;
            left: 19px;
            transform: translate(-18px, -18px);
            animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }

        .loader1 svg {
            display: block;
            width: 100%;
            height: 100%;
        }

            .loader1 svg rect, .loader1 svg polygon, .loader1 svg circle {
                fill: none;
                stroke: var(--path);
                stroke-width: 10px;
                stroke-linejoin: round;
                stroke-linecap: round;
            }

            .loader1 svg polygon {
                stroke-dasharray: 145 76 145 76;
                stroke-dashoffset: 0;
                animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }

            .loader1 svg rect {
                stroke-dasharray: 192 64 192 64;
                stroke-dashoffset: 0;
                animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }

            .loader1 svg circle {
                stroke-dasharray: 150 50 150 50;
                stroke-dashoffset: 75;
                animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }

        .loader1.triangle {
            width: 48px;
        }

            .loader1.triangle:before {
                left: 21px;
                transform: translate(-10px, -18px);
                animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }



    .loader1 {
        display: inline-block;
        margin: 0 16px;
    }

</style>

@if (isLoader)
{
	<div class="loader-overlay">
		<div class="loader-container">
			<svg class="pl" width="240" height="240" viewBox="0 0 240 240">
				<circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
				<circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
				<circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
				<circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
			</svg>
		</div>
	</div>
}
else
{
    <div style="background-color:#fff;padding:30px 30px;">
        <div style="display:flex;justify-content:space-between">
            <label style="font-size:20px;font-weight:500; margin-bottom:20px;">Địa chỉ của tôi</label>
            <div>
                <button class="btnAddress" data-bs-toggle="modal" @onclick="Load">
                    <i class="fa-regular fa-address-book"></i>
                    Thêm địa chỉ
                </button>
                @*            <button class="btnUpdateInfo"  data-bs-toggle="modal" @onclick="Load">
                    THÊM ĐỊA CHỈ MỚI
                    </button>*@
            </div>
        </div>
        <hr>
        @if (_lstAddressGetById.Count() == 0)
        {
            <div class="notpoundimg">
                <img src="/images/address-not-found.png"
             style="width: 260px; height: 200px;" alt="Bức ảnh">
                <h6 style="margin-top: 20px;">Bạn chưa có địa chỉ</h6>
            </div>
        }
        else
        {
            @foreach (var item in _lstAddressGetById)
            {
                <div class="row">
                    <div class="row col-md-5">
                        <div class="col-md-12" style="font-family:inherit;font-size:15px;display:flex; ">
                            <label style="border-right: 2px solid black;padding-right:10px;">
                                @item.Recipient
                            </label>
                            <label style="padding-left:10px;font-family:inherit;font-size:14px">
                                @item.NumberPhone
                            </label>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="row col-md-5">
                        <div class="col-md-5"></div>
                        <div class="col-md-7" style="display:flex;padding-left:37px;margin-left:215px;">
                            <button class="btnTrongSuot" data-bs-toggle="modal" style="padding-right:10px;"
                        @onclick="()=>LoadUpdate(item.Id)">
                                Cập nhật
                            </button>
                            @if (item.Status == 1)
                            {
                                @*<button class="btnTrongSuot btne" disabled @onclick="()=>DeleteAddress(item.Id)"
                        style="border-left: 2px solid black;">
                                    Xoá
                                </button>*@
                            }
                            else
                            {
                                <button class="btnTrongSuot" @onclick="()=>DeleteAddress(item.Id)"
                        style="border-left: 2px solid black;">
                                    Xoá
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-7" style="font-family:inherit;font-size:14px">@item.ToAddress</div>
                    <div class="col-md-5" style="">
                        <div class="col-md-4"></div>
                        <div class="col-md-8" style="font-family:inherit;font-size:15px;margin-left:190px">
                            @if (item.Status == 1)
                            {
                                //<button class="btnTrongSuot1 btne " disabled @onclick="()=>SetDefaultAddress(item.Id)">Thiết lập mặc định</button>
                            }
                            else
                            {
                                <button class="btnTrongSuot1" @onclick="()=>SetDefaultAddress(item.Id)">Đặt làm mặc định</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7" style="font-family:inherit;font-size:14px">@(item.WardName +", "+item.District + ", "+item.Province)</div>
                    <div class="col-md-5" style="">
                    </div>
                </div>
                @if (item.Status == 1)
                {
                    <button style="border-color:red;color:red;background-color: transparent;margin-top:5px;">Mặc định</button>
                }
                <hr />
            }
        }
    </div>
}




<EditForm Model="AddressShip">
    @*add address*@
    <DataAnnotationsValidator />
    <div class="modal fade @(isModalOpenAddAddress ? "show back" : "")"
         id="popupAddAdress" tabindex="-1"
         aria-hidden="@(isModalOpenAddAddress ? "" : "true")"
         style="display: @(isModalOpenAddAddress ? "block" : "none")"
         aria-modal="@(isModalOpenAddAddress ? "true" : "none")"
         role="@(isModalOpenAddAddress ? "dialog" : "none")">
        <div class="modal-dialog modal-dialog-centered" style="width:150%">
            <div class="modal-content">
                <div class="modal-body">
                    <label style="font-size:18px;font-weight:600;padding:15px 50px 15px 15px">Thêm địa chỉ mới</label>
                    <button class="col-md-1 btnTrongSuot2" style="margin-left:215px;" @onclick='()=>ClosePopup("AddAddress")'><i class="fas fa-times" style="font-size:16pt;"></i></button>
                    <div style=" display: flex;flex-direction:column;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inputName">
                                    <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                                    <div style="display:flex;flex-direction:column;margin-left:10px;">
                                        <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.Recipient" required placeholder="Họ và tên" />
                                    </div>
                                </div>
                                <ValidationMessage For="()=>addressShip_VM.Recipient" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                            </div>
                            <div class="col-md-6">
                                <div class="inputName">
                                    <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                                    <div style="display:flex;flex-direction:column;margin-left:10px;">
                                        <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.NumberPhone" required placeholder="Số điện thoại" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.Province" @onclick="@ChonTinhTP" required>
                                            <option value="@string.Empty" selected>--Tỉnh/Thành phố--</option>
                                            @foreach (var x in _lstTinhTp)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div><ValidationMessage For="()=>addressShip_VM.Province" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.District" @onclick="@ChonQuanHuyen" required>
                                            <option value="@string.Empty" selected>--Quận/Huyện--</option>
                                            @foreach (var x in _lstQuanHuyen)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="()=>addressShip_VM.District" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.WardName" @onclick="@ChonXaPhuong" required>
                                            <option value="@string.Empty" selected>--Xã/Phường--</option>
                                            @foreach (var x in _lstXaPhuong)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="()=>addressShip_VM.WardName" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inputName" style="width:100%;">
                            <i class="fa-solid fa-phone fa-l" style="color: #a1a1a1"></i>
                            <div style="display:flex;flex-direction:column;margin-left:10px; width:90%;">
                                <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.ToAddress" required placeholder="Địa chỉ cụ thể" />
                            </div>
                        </div><ValidationMessage For="()=>addressShip_VM.ToAddress" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                        <div>
                            <InputCheckbox @bind-Value="@IsDefaultAddress" style="transform: scale(1.7);margin-left:5px;margin-right:10px;" />
                            <label style="font-family:inherit;font-size:15px"> Đặt làm địa chỉ mặc định</label>
                        </div>

                    </div>
                    <button class="btnSuccesUpDateInfo" @onclick="AddAdress">
                        THÊM ĐỊA CHỈ MỚI
                        <i class="fa-sharp fa-solid fa-arrow-right-long" style="margin-left:20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


<EditForm Model="AddressShip">
    @*update address*@
    <div class="modal fade @(isModalOpenUpdateAddress ? "show back" : "")"
         id="popupUpdateAdress" tabindex="-1"
         aria-hidden="@(isModalOpenUpdateAddress ? "" : "true")"
         style="display: @(isModalOpenUpdateAddress ? "block" : "none")"
         aria-modal="@(isModalOpenUpdateAddress ? "true" : "none")"
         role="@(isModalOpenUpdateAddress ? "dialog" : "none")">
        <div class="modal-dialog modal-dialog-centered" style="width:150%">
            <div class="modal-content">
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <div class="row">
                        <label class="col-md-6" style="font-size:18px;font-weight:600;padding:15px 50px 15px 15px">Cập nhật địa chỉ</label>
                        <button class="col-md-1 btnTrongSuot2" style="margin-left:195px;" @onclick='()=>ClosePopup("UpdateAddress")'><i class="fas fa-times" style="font-size:16pt;"></i></button>
                    </div>
                    <div style=" display: flex;flex-direction:column;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inputName">
                                    <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                                    <div style="display:flex;flex-direction:column;margin-left:10px;">
                                        <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.Recipient" required placeholder="Họ và tên" />
                                    </div>
                                </div><ValidationMessage For="()=>addressShip_VM.Recipient" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                            </div>
                            <div class="col-md-6">
                                <div class="inputName">
                                    <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                                    <div style="display:flex;flex-direction:column;margin-left:10px;">
                                        <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.NumberPhone" required placeholder="Số điện thoại" />
                                        <ValidationMessage style="color:red;" For="()=>addressShip_VM.NumberPhone" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.Province" @onclick="@ChonTinhTP" required>
                                            <option value="@string.Empty" selected>--Tỉnh/Thành phố--</option>
                                            @foreach (var x in _lstTinhTp)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.District" @onclick="@ChonQuanHuyen" required>
                                            <option value="@string.Empty" selected>--Quận/Huyện--</option>
                                            @foreach (var x in _lstQuanHuyen)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.WardName" @onclick="@ChonXaPhuong" required>
                                            <option value="@string.Empty" selected>--Xã/Phường--</option>
                                            font              @foreach (var x in _lstXaPhuong)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inputName" style="width:100%;">
                            <i class="fa-solid fa-phone fa-l" style="color: #a1a1a1"></i>
                            <div style="display:flex;flex-direction:column;margin-left:10px; width:90%;">
                                <InputText class="form_field" name="name" id='name'
                                           @bind-Value="@addressShip_VM.ToAddress" required placeholder="Địa chỉ cụ thể" />
                            </div>
                        </div><ValidationMessage For="()=>addressShip_VM.ToAddress" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                        <div>
                            @if (addressShip_VM.Status != 1)
                            {
                                <InputCheckbox @bind-Value="@IsDefaultAddress" style="transform: scale(1.7);margin-left:5px;margin-right:10px;" />
                                <label style="font-family:inherit;font-size:15px"> Đặt làm địa chỉ mặc định</label>
                            }
                        </div>
                    </div>
                    <button class="btnSuccesUpDateInfo" @onclick="UpdateAdress">
                        CẬP NHẬT ĐỊA CHỈ
                        <i class="fa-sharp fa-solid fa-arrow-right-long" style="margin-left:20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

