@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
				Timeout="5"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fas fa-check-circle"
				ErrorIcon="fa-solid fa-triangle-exclamation" />



<style>
	.btnTrongSuot {
		background-color: transparent;
		color: blue;
		border: none;
		font-family: inherit;
		font-size: 15px;
		font-weight: 500;
		margin-left: 20px;
		margin-bottom: 4px;
	}

	.button {
		margin: 0;
		font-size: 14px;
		text-align: center;
		letter-spacing: 0.5px;
		color: #ffffff;
		background-color: #065fd4;
		border: 0;
		box-shadow: none;
		border-radius: 5px;
		padding-left: 16px;
		padding-right: 16px;
		text-transform: uppercase;
		font-weight: 500;
		height: 50px;
		margin-right: 25px;
	}

	.button1 {
		font-family: Roboto, Arial, Sans-Serif;
		font-size: 14px;
		text-align: center;
		letter-spacing: 0.5px;
		color: #ffffff;
		background-color: #b7b7b7;
		border: 0;
		box-shadow: none;
		border-radius: 2px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 16px;
		padding-right: 16px;
		text-transform: uppercase;
		font-weight: 500;
		margin-top: 5px;
		margin-bottom: 5px;
	}


	.main1 * {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.main1 {
		width: 100%;
		height: 20vh;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: pop;
		flex-direction: column;
	}

	.ul {
		display: flex;
		margin-top: 0;
		margin-left: 25px;
	}

		.ul .li {
			list-style: none;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 22px;
		}

			.ul .li .icon {
				font-size: 35px;
				margin: 0 60px;
			}

			.ul .li .fas {
				font-size: 28px;
				margin: 0 60px;
				margin-bottom: 12px;
			}

			.ul .li .text {
				font-size: 14px;
				font-weight: 600;
				color: #61affe;
			}

			/* progress1 Div Css  */

			.ul .li .progress1 {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background-color: rgba(68, 68, 68, 0.781);
				margin: 14px 0;
				display: grid;
				place-items: center;
				color: #fff;
				position: relative;
				cursor: pointer;
			}

	.progress1::after {
		content: " ";
		position: absolute;
		width: 165px;
		height: 5px;
		background-color: rgba(68, 68, 68, 0.781);
		right: 32px;
	}

	.one::after {
		width: 0;
		height: 0;
	}

	.ul .li .progress1 .uil {
		display: none;
	}

	.ul .li .progress1 p {
		font-size: 13px;
	}

	/* active11 Css  */

	.ul .li .active1 {
		background-color: #61affe;
		display: grid;
		place-items: center;
	}

	.li .active1::after {
		background-color: #61affe;
	}

	.ul .li .active1 p {
		display: none;
	}

	.ul .li .active1 .uil {
		font-size: 15px;
		display: flex;
	}

	.fade {
		font-family: "Poppins",sans-serif;
	}
</style>

@{
	int? tong = 0;

}

<EditForm Model="_bill_ShowModel">
	<div class="card" style="margin-bottom:10px;">
		<div class="card-body">
			<h5 class="card-title">Tình trạng đơn hàng</h5>
			<div class="main1">
				<ul class="ul">

					<li class="li">
						<i class="fas fa-solid fa-clipboard-list"></i>
						<div class="progress1 one active1" style="">
							<p>1</p>
							<i class="uil fa-solid fa-check"></i>
						</div>
						<p class="text">Đơn hàng đã đặt</p>
						<p>@_bill_ShowModel.CreateDate?.ToString("HH:mm dd/MM/yyyy")</p>
					</li>

					@if (@_bill_ShowModel.Status == 2 && @_bill_ShowModel.PaymentMethodName == "Thanh toán Momo")  // thành công
					{
						<li class="li">
							<i class="fas fa-regular fa-credit-card"></i>
							<div class="progress1 two active1" style="">
								<p>2</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Đã thanh toán @_bill_ShowModel.TotalAmount?.ToString("#,##0")đ</p>
							<p class="text">Chờ xác nhận</p>
						</li>
					}
					else if (@_bill_ShowModel.Status == 1 && @_bill_ShowModel.PaymentMethodName == "Thanh toán Momo")
					{  // thất bại
						<li class="li">
							<i class="fas fa-regular fa-credit-card"></i>
							<div class="progress1 two active1" style="">
								<p>2</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Chờ thanh toán</p>
						</li>
					}


					else if (@_bill_ShowModel.Status >= 3 && @_bill_ShowModel.PaymentMethodName == "Thanh toán Momo")
					{
						<li class="li">
							<i class="fas fa-regular fa-credit-card"></i>
							<div class="progress1 two active1" style="">
								<p>2</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Đã thanh toán @_bill_ShowModel.TotalAmount đ</p>
							<p class="text">Đơn hàng được xác nhận</p>
							<p class="text">@_bill_ShowModel.ConfirmationDate?.ToString("HH:mm dd/MM/yyyy")</p>
						</li>
					}
					else if (@_bill_ShowModel.Status >= 3 && @_bill_ShowModel.PaymentMethodName == "Thanh toán khi nhận hàng (COD)")
					{
						<li class="li">
							<i class="fas fa-regular fa-credit-card"></i>
							<div class="progress1 two active1" style="">
								<p>2</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Đơn hàng được xác nhận</p>
							<p class="text">@_bill_ShowModel.ConfirmationDate?.ToString("HH:mm dd/MM/yyyy")</p>
						</li>
					}

					else
					{
						<li class="li">
							<i class="fas fa-regular fa-credit-card"></i>
							<div class="progress1 two active1" style="">
								<p>2</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Chờ xác nhận</p>
						</li>
					}




					@if (_bill_ShowModel.Status >= 3)
					{
						<li class="li">
							<i class="fas fa-shipping-fast"></i>
							<div class="progress1 three active1" style="margin-right:-5px;">
								<p>3</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Đã giao cho ĐVVC</p>
							<p>@_bill_ShowModel.ShippingDate</p>
						</li>
					}
					else
					{
						<li class="li">
							<i class="fas fa-shipping-fast"></i>
							<div class="progress1 three" style="margin-right:-5px;">
								<p>3</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Chờ giao cho ĐVVC</p>
						</li>
					}



					@if (_bill_ShowModel.Status == 6)
					{
						<li class="li">
							<i class="fas fa-solid fa-box-open"></i>
							<div class="progress1 four active1" style="">
								<p>4</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Đã nhận được hàng</p>

						</li>
					}
					else
					{
						<li class="li">
							<i class="fas fa-solid fa-box-open"></i>
							<div class="progress1 four" style="">
								<p>4</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Đã nhận được hàng</p>
						</li>
					}

					@if (_bill_ShowModel.Status == 6)
					{
						<li class="li">
							<i class="fas fa-regular fa-star"></i>
							<div class="progress1 five active1" style="">
								<p>5</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Hoàn thành</p>
							<p>@_bill_ShowModel.CompletionDate</p>
						</li>
					}
					else
					{
						<li class="li">
							<i class="fas fa-regular fa-star"></i>
							<div class="progress1 five" style="">
								<p>5</p>
								<i class="uil fa-solid fa-check"></i>
							</div>
							<p class="text">Hoàn thành</p>
							<p class="text">@_bill_ShowModel.CompletionDate?.ToString("HH:mm dd/MM/yyyy")</p>
						</li>
					}



				</ul>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-body">

			<div class="row">
				<div class="col-md-6"> <h5 class="card-title" style="margin-left:15px;margin-right:30px;">Chi tiết đơn hàng</h5></div>
				<div class="col-md-6" style="display:flex;justify-content:right;align-items:center">
					@if (_bill_ShowModel.Status == 1)
					{
						<button class="button" @onclick="ThanhToanHdMomo">Thanh toán đơn hàng</button>
					}
					<h5 class="card-title" style="color:red;">
						@(_bill_ShowModel.Status == 0 ? "Đã hủy"
													: _bill_ShowModel.Status == 1 ? "Chờ thanh toán"
													: _bill_ShowModel.Status == 2 ? "Chờ xác nhận"
													: _bill_ShowModel.Status == 3 ? "Đã được xác nhận"
													: _bill_ShowModel.Status == 4 ? "Đã giao cho ĐVVC"
													: _bill_ShowModel.Status == 5 ? "Giao hàng thành công"
													: _bill_ShowModel.Status == 6 ? "Hoàn thành" : "")
					</h5>
				</div>
			</div>
			<hr />
			<!-- Default Table -->
			<table class="table table-borderless">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Sản phẩm</th>
						<th scope="col" style="vertical-align:middle;text-align:center;">Đơn giá</th>
						<th scope="col" style="vertical-align:middle;text-align:center;">Số lượng</th>
						<th scope="col" style="vertical-align:middle; text-align:right;width:110px;">Thành tiền</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var a in _lstBillItems)
					{
						<tr>
							<th style="width:115px;">
								<a href="https://localhost:7075/product-detail/@a.ProductId">
									<img src="https://product.hstatic.net/200000312481/product/ato1007_2_21baaf6cd76d4e6c9b49758dd8d933b8_master.jpg"
										 style="width: 90px; height: 90px;" alt="Bức ảnh">
								</a>
							</th>
							<td style="vertical-align:middle;max-width:300px;">
								<a>@a.Name</a> <br />
								<span> @a.ColorName / @a.SizeName</span>
							</td>
							<td style="vertical-align:middle;text-align:center;">@(a.PriceAfter?.ToString("#,##0"))₫</td>
							<td style="vertical-align:middle;text-align:center;">@a.Quantity</td>
							<td style="vertical-align:middle; text-align:right;">@((a.PriceAfter * a.Quantity)?.ToString("#,##0"))₫</td>
						</tr>
						tong += (a.CostPrice * a.Quantity);
					}
					<tr style="border-top:1px solid #ededed">
						<td colspan="3">Giá sản phẩm</td>
						<td style="text-align:right;font-weight:600;" colspan="5">@(tong?.ToString("#,##0"))₫</td>
					</tr>
					@if (_tienGiamVoucher > 0)
					{
						<tr>
							<td colspan="3">Giảm giá Voucher</td>
							<td style="text-align:right;font-weight:600;" colspan="5">-@(_tienGiamVoucher.ToString("#,##0"))₫</td>
						</tr>
					}
					@if (_tienGiamDiemDung > 0)
					{
						<tr>
							<td colspan="3">Giảm giá dùng điểm</td>
							<td style="text-align:right;font-weight:600;" colspan="5">-@(_tienGiamDiemDung.ToString("#,##0"))₫</td>
						</tr>
					}
					<tr style="font-size:20px;">

						<td colspan="3">
							<b>Tổng tiền</b>
						</td>
						<td style="text-align:right;" colspan="5">
							<b>
								@(_bill_ShowModel.TotalAmount?.ToString("#,##0"))₫
							</b>
						</td>

					</tr>
					<tr>
						<td colspan="3">Phương thức thanh toán</td>
						<td style="text-align:right;font-weight:600;" colspan="5">@_bill_ShowModel.PaymentMethodName</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-md-6" style="display:flex;">
					<h5 class="card-title">Địa chỉ nhận hàng</h5>
					@if (_bill_ShowModel.Status == 1)
					{
						<button class="btnTrongSuot" data-toggle="modal" data-target="#ChangeDiaChi"> Thay đổi </button>
					}
				</div>
				<div class="col-md-6">
					@if (_bill_ShowModel.Status == 1 || _bill_ShowModel.Status == 2)
					{

						<button type="button" class="button1" @onclick="HuyDonHang" style="margin-left:20px;float:right;">Hủy đơn hàng</button>
					}
				</div>
			</div>

			<div class="row">
				<div class="row col-md-5">
					<div class="col-md-12" style="font-family:inherit;font-size:16px;display:flex;">
						<label>
							@_bill_ShowModel.Recipient | @_bill_ShowModel.NumberPhone
						</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-7" style="font-family:inherit;font-size:14px">@(_bill_ShowModel.ToAddress + ", " + _bill_ShowModel.WardName + ", " + _bill_ShowModel.District + ", " + _bill_ShowModel.Province)</div>
				<div class="col-md-5" style="">
				</div>
			</div>

		</div>
	</div>



	<div class="modal fade" id="ChangeDiaChi">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Phần tiêu đề của popup -->
				<div class="modal-header">
					<h4 class="modal-title">Chọn địa chỉ</h4>
					<button type="button" class="close" style="background-color:transparent;border:none;" data-dismiss="modal">&times;</button>
				</div>

				<!-- Nội dung của popup -->
				<div class="modal-body">
					@foreach (var item in _lstAddressGetById)
					{
						<div class="row" style="height:60px; margin-top:20px;">
							<div class="col-md-9">
								<div style="font-size:11pt;">
									@item.Recipient | @item.NumberPhone
								</div>
								<div style="font-size:11pt;">
									@(item.ToAddress + ", " + item.WardName + ", " + item.District + ", " + item.Province)
								</div>
							</div>
							<div class="col-md-3" style="text-align:center;vertical-align:middle;">
								<button class="btn btn-primary" data-dismiss="modal" @onclick="()=>ChonDiaChiTuList(item)">Sử dụng</button>
							</div>
						</div>
					}
				</div>
				<!-- Phần chân của popup -->
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		</div>
		<BlazoredToasts Position="ToastPosition.TopRight"
						Timeout="5"
						IconType="IconType.FontAwesome"
						SuccessClass="success-toast-override"
						SuccessIcon="fa-solid fa-check"
						ErrorIcon="fa-solid fa-triangle-exclamation" />
	</div>
</EditForm>
