@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.TopRight"
				Timeout="5"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />

<div class="row">
	<div class="col-md-7">
		<h4>Thông tin giao hàng</h4>
		<div style="display:flex;margin-top:5px;height:60px;line-height:60px">
			<div class="col-md-1">
				<img src="/img/avartar_user.png" style="width:100%;height:100%;margin-right:20px" />
			</div>
			@if (_user_vm.Name == null || _user_vm.Name == string.Empty)
			{
				<div class="col-md-10" style="vertical-align:middle">
					<label>Không có thông tin người dùng</label>
				</div>
			}
			else
			{
				<div class="col-md-9" style="vertical-align:middle">
					<label>@_user_vm.Name (@_user_vm.Email)</label>
				</div>
				<div class="col-md-2" style="text-align:right;vertical-align:middle">
					<label data-toggle="modal" data-target="#ChonDiaChi">Địa chỉ khác</label>
				</div>
			}
		</div>
		<EditForm Model="_bill_validate_vm">
			<DataAnnotationsValidator />
			<div style="margin-top:15px">
				<div class="row">
					<div class="col-md-8">
						<input type="text" class="form-control" @bind-value="_bill_validate_vm.Recipient" placeholder="Tên người nhận" />
						<ValidationMessage For="()=>_bill_validate_vm.Recipient" />
					</div>
					<div class="col-md-4">
						<input type="text" class="form-control" @bind-value="_bill_validate_vm.NumberPhone" placeholder="Số điện thoại" maxlength="10" />
						<ValidationMessage For="()=>_bill_validate_vm.NumberPhone" />
					</div>
				</div>
			</div>

			<div class="row" style="margin-top:15px">
				<div class="col-4">
					<InputSelect class="form-select" @bind-Value="@_bill_validate_vm.Province" @onclick="ChonTinhTP">
						<option value="@string.Empty" selected>--Tỉnh/Thành phố--</option>
						@foreach (var x in _lstTinhTp)
						{
							<option value="@x.Name">@x.Name</option>
						}
					</InputSelect>
					<ValidationMessage For="()=>_bill_validate_vm.Province" />
				</div>
				<div class="col-4">
					<InputSelect class="form-select" @bind-Value="@_bill_validate_vm.District" @onclick="ChonQuanHuyen">
						<option value="@string.Empty" selected>--Quận/Huyện/Thị xã--</option>
						@foreach (var x in _lstQuanHuyen)
						{
							<option value="@x.Name">@x.Name</option>
						}
					</InputSelect>
					<ValidationMessage For="()=>_bill_validate_vm.District" />
				</div>
				<div class="col-4">
					<InputSelect class="form-select" @bind-Value="@_bill_validate_vm.WardName">
						<option value="@string.Empty" selected>--Phường/Xã--</option>
						@foreach (var x in _lstXaPhuong)
						{
							<option value="@x.Name">@x.Name</option>
						}
					</InputSelect>
					<ValidationMessage For="()=>_bill_validate_vm.WardName" />
				</div>

			</div>
			<div style="margin-top:15px;">
				<input type="text" class="form-control" @bind-value="_bill_validate_vm.ToAddress" placeholder="Địa chỉ chi tiết" />
				<ValidationMessage For="()=>_bill_validate_vm.ToAddress" />
			</div>
			<div style="margin-top:15px">
				<InputTextArea class="form-control" @bind-Value="_bill_validate_vm.Note" placeholder="Ghi chú" />
			</div>
			<div class="paymentMethods" style="margin-top:15px">
				<InputRadioGroup @bind-Value="_bill_validate_vm.PaymentMethodId" class="form-control">
					@foreach (var a in _lstPayM)
					{
						<label class="radio-button" @onclick="()=>SetDataPayMId(a.Id)">
							<InputRadio Value="a.Id" />
							<div class="radio-circle"></div>
							<span class="radio-label">@a.Name</span>
						</label>
						@if (a.Name == "Thanh toán khi nhận hàng (COD)" && _lstPayM.Where(c => c.Id == _bill_validate_vm.PaymentMethodId).FirstOrDefault().Name == "Thanh toán khi nhận hàng (COD)")
						{
							<div>
								<p class="titleCOD">
									1. Khi click vào nút <b>Hoàn tất đơn hàng</b> thì đơn hàng sẽ được hệ thống tự động xác nhận mà không cần phải gọi qua điện thoại, nếu điền thông tin địa chỉ và số điện thoại chính xác thì đơn hàng sẽ được vận chuyển từ 3-4-5 ngày tùy vùng miền.<br>
									2. Trường hợp đặt hàng xong nhưng muốn HỦY ĐƠN, vui lòng soạn tin nhắn theo cú pháp: SĐT ĐÃ ĐẶT ĐƠN (hoặc MÃ ĐƠN hoặc GMAIL ĐƠN HÀNG) + TÊN NGƯỜI NHẬN sau đó gửi qua các kênh online: Page Facebook, Intagram. Nhân viên check tin nhắn sẽ xử lý hủy giúp Quý KH.
								</p>
							</div>
						}
						@if (a.Name == "Thanh toán Momo" && _lstPayM.Where(c => c.Id == _bill_validate_vm.PaymentMethodId).FirstOrDefault().Name == "Thanh toán Momo")
						{
							<div>
								<p class="titleCOD">
									Sau khi bấm nút <b>Hoàn tất đơn hàng</b> bạn sẽ được chuyển hướng đến trang thanh toán của Momo. Vui lòng thanh toán để hoàn tất đơn hàng
								</p>
							</div>
						}
					}
				</InputRadioGroup>
			</div>
			<div style="display:flex;justify-content:space-between;align-items:center;margin-top:25px">
				<div>
					<a style="color:#7dccff;cursor:pointer;" @onclick="BackToCart">Giỏ hàng</a>
				</div>
				<div>
					<button class="btnSuccesBill @_afterClick" @onclick="Btn_DatHang" disabled="@_datHangThanhCong">
						Thanh toán
					</button>
				</div>
			</div>

		</EditForm>
	</div>
	<div class="col-md-5">
		@foreach (var x in _lstCI)
		{
			_pi_s_vm = _lstPrI_show_VM.Where(c => c.Id == x.ProductItemId).FirstOrDefault();
			var lst_chonmau = _lstPrI_show_VM.Where(c => c.ColorId == _pi_s_vm.ColorId).ToList();
			_lstImg_PI_tam.Clear();
			foreach (var mau in lst_chonmau)
			{
				var a = _lstImg_PI.Where(c => c.ProductItemId == mau.Id);
				_lstImg_PI_tam.AddRange(a);
			}
			var img = _lstImg_PI_tam.Where(c => c.ProductId == _pi_s_vm.ProductId).OrderBy(c => c.STT).Select(c => c.PathImage).FirstOrDefault();
			<div class="row">
				<div class="col-md-9">
					<div style="display:flex;">
						<div style="position:relative">
							<img src="/images/@img" alt="" style="width:90px;height:90px;border-radius:8px">
							<div class="img_Ab">@x.Quantity</div>
						</div>
						<div style="display:flex; justify-content:space-between;flex-direction:column;height:60%;margin-top:auto;margin-bottom:auto;margin-left:20px">
							<label>@_pi_s_vm.Name</label>
							<div style="display:flex; justify-content:space-between;flex-direction:column;font-size:14px">
								<label>@_pi_s_vm.SizeName</label>
								<label>@_pi_s_vm.ColorName</label>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3" style="margin-top:auto;margin-bottom:auto;">
					<h6 style="text-align:right;font-size:15px">
						@((x.Quantity * _pi_s_vm.PriceAfterReduction)?.ToString("#,##0"))đ<br>
						<del style="color:grey">@((x.Quantity * _pi_s_vm.CostPrice)?.ToString("#,##0"))đ</del>
					</h6>
				</div>
			</div>
			<div style="height:1px;background-color:#000;margin-top:10px;margin-bottom:15px">
			</div>
		}
		<button class="btn-voucher">
			<i class="fa-solid fa-ticket fa-lg" style="color: #2b56a1;"></i> <span>Ví Voucher</span>
		</button>
		<div class="input-container">
			<input type="text" placeholder="Nhập mã giảm giá" @bind-value="_voucherCode">
			<button class="invite-btn" type="button" @onclick="ApDungVoucher">
				Áp dụng
			</button>
		</div>
		@* !string.IsNullOrEmpty(_voucherCode) && !_lstVchUser.Any(c => c.VoucherId == _v_vm.Id && c.Status == 0) && _v_vm.Quantity > 0 && _tongTienHang > _v_vm.Discount_Conditions *@
		@if (_tiengiam > 0)
		{
			<div style="display:flex;background-color:#fdf4ed;border:1px solid #A09F9E;border-radius:5px;padding:10px 10px;vertical-align:middle">
				<div class="col-md-11">
					<span>
						Mã giảm giá <b>@_voucherCode.ToUpper()</b> đã giúp bạn tiết kiệm @(_tiengiam?.ToString("#,##0"))đ.
					</span>
				</div>
				<div class="col-md-1" style="text-align:unset">
					<span @onclick="XoaVoucher"><b>Hủy</b></span>
				</div>
			</div>
		}
		<div class="row">
			<div class="col-md-5"><label>Tạm tính</label></div>
			<div class="col-md-7" style="text-align:right;"><label>@(_tongTienHang?.ToString("#,##0"))đ</label></div>
		</div>
		<div class="row">
			<div class="col-md-5"><label>Giảm giá</label></div>
			<div class="col-md-7" style="text-align:right;"><label>@(_tiengiam?.ToString("#,##0"))đ</label></div>
		</div>
		<div class="row">
			<div class="col-md-5"><label>Phí vận chuyển</label></div>
			<div class="col-md-7" style="text-align:right;"><label>@(_bill_validate_vm.ShippingFee?.ToString("#,##0"))đ</label></div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<h4>Tổng cộng</h4>
			</div>
			<div class="col-md-7">
				<h4 style="text-align:right;">@(_tongTienAll?.ToString("#,##0"))đ</h4>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="ChonDiaChi">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Phần tiêu đề của popup -->
			<div class="modal-header">
				<h4 class="modal-title">Chọn địa chỉ</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Nội dung của popup -->
			<div class="modal-body">
				@foreach (var item in _lst_adrS_User.OrderByDescending(c => c.Status))
				{
					<div class="row" style="height:60px">
						<div class="col-md-10">
							@item.Recipient | @item.NumberPhone <br>
							@(item.ToAddress + ", " + item.WardName + ", " + item.District + ", " + item.Province)
						</div>
						<div class="col-md-2" style="text-align:center;vertical-align:middle;">
							<button class="btn btn-primary" data-dismiss="modal" @onclick="()=>ChonDiaChiTuList(item)">Chọn</button>
						</div>
					</div>
				}
			</div>
			<!-- Phần chân của popup -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
	<BlazoredToasts Position="ToastPosition.TopRight"
					Timeout="5"
					IconType="IconType.FontAwesome"
					SuccessClass="success-toast-override"
					SuccessIcon="fa-solid fa-check"
					ErrorIcon="fa-solid fa-triangle-exclamation" />
</div>

@if (isLoader)
{
	<div class="loader-container1">
		<div class="loader1">
			<svg viewBox="0 0 80 80">
				<circle id="test" cx="40" cy="40" r="32"></circle>
			</svg>
		</div>

		<div class="loader1 triangle">
			<svg viewBox="0 0 86 80">
				<polygon points="43 8 79 72 7 72"></polygon>
			</svg>
		</div>

		<div class="loader1">
			<svg viewBox="0 0 80 80">
				<rect x="8" y="8" width="64" height="64"></rect>
			</svg>
		</div>
	</div>
}