@inject IJSRuntime JsRuntime
@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
				Timeout="10"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
@using DATN_Client.Areas.Admin.Controllers;
<style>
	/*Detail*/

	/*End Detail*/
	.number-input {
		display: flex;
		align-items: center;
	}

	.input-wrapper {
		display: flex;
		align-items: center;
		border: 1px solid #ccc;
		border-radius: 20px;
		padding: 5px;
	}

	.input-field {
		margin-left: 10px;
		width: 50px;
		text-align: center;
		border: none;
		background-color: transparent;
		pointer-events: none;
	}

	.button {
		position: relative;
		display: inline-block;
		padding: 10px 28px;
		line-height: normal;
		border: 1px solid #ffffff;
		border-radius: 0;
		text-transform: uppercase;
		font-size: 12px;
		text-align: center;
		letter-spacing: 1px;
		background-color: transparent;
		-webkit-transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		z-index: 1;
		color: #000000;
		overflow: hidden;
	}

		.button:before {
			position: absolute;
			content: '';
			display: block;
			left: -2px;
			top: 0;
			right: -2px;
			bottom: 0;
			-webkit-transform: scale(1, 1);
			transform: scale(1, 1);
			-webkit-transform-origin: left center;
			transform-origin: left center;
			z-index: -1;
			background-color: #ffffff;
			-webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
			transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86),-webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		}

		.button:hover {
			color: #fff;
		}

		.button.dark {
			color: #fff;
			border-color: #D1D1D1;
		}

			.button.dark:before {
				background-color: #D1D1D1;
			}

			.button.dark:hover {
				color: #000000;
			}

		.button:hover:before {
			-webkit-transform-origin: right center;
			transform-origin: right center;
			-webkit-transform: scale(0, 1);
			transform: scale(0, 1);
		}

	.minus-button,
	.plus-button {
		width: 30px;
		height: 30px;
		border: none;
		background-color: transparent;
		color: #337ab7;
		font-weight: bold;
		cursor: pointer;
	}

		.minus-button:hover,
		.plus-button:hover {
			color: #286090;
		}

	.custom-button {
		background-color: lightgray;
		color: black;
	}

		.custom-button:focus {
			background-color: blue;
			color: white;
		}

	.chonSize {
		text-align: right;
		color: #0158DA;
	}

		.chonSize:hover {
			color: red;
		}
</style>
@*<h3>@_nameCate</h3>*@
@*<br />*@
<span>Trang Chủ / @_nameCate / @_p_VM.Name</span>

<div>
	<div class="product-detail-wrapper">
		<div>
			<div class="row">
				<div class="col-md-8">
					@* @foreach (var x in _lstImg_PI_tam.OrderBy(c => c.STT))
					{
					<div class="product-gallery">
					<div class="product-gallery__thumbs-container hidden-sm hidden-xs">
					<div class="product-gallery__thumbs thumb-fix">

					<div class="product-gallery__thumb">
					<a class="product-gallery__thumb-placeholder" href="javascript:void(0);" @onclick="()=>LoadAnh(x.Id)">
					<img src="/images/@x.PathImage" alt="" style="width: 100px;height: 110px;" />
					</a>
					</div>

					</div>
					</div>
					<div class="product-image-detail box__product-gallery scroll">
					<ul id="sliderproduct" class="site-box-content slide_product">
					<li class="product-gallery-item gallery-item" style="">
					<a data-toggle="modal" data-target="#Add_P">
					<img src="/images/@x.PathImage" alt="" style="width:500px;height:650px;margin-top:8.5px" />
					</a>
					</li>
					</ul>
					</div>
					</div>
					} *@
					<div class="row">
						<div class="col-md-2" style="height: 550px; overflow-y: auto;text-align:center">
							@foreach (var x in _lstImg_PI_tam.OrderBy(c => c.STT))
							{
								<div style="margin-bottom:30px;margin-top:30px">
									<a @onclick="()=>LoadAnh(x.Id)">
										<img class="img-thumbnail" src="/images/@x.PathImage" alt="" style="width: 100px;height: 110px;" />
									</a>
								</div>
							}
						</div>
						<div class="col-md-10" style="text-align:center">
							<a data-toggle="modal" data-target="#Add_P">
								<img class="img-thumbnail" src="/images/@_path_Tam" alt="" style="width:600px;height:760px;margin-top:8.5px" />
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-title">
						<h1>@_p_VM.Name</h1>
						<span id="pro_sku">SKU: @_p_VM.ProductCode</span>
					</div>
					<div class="product-price" id="price-preview">
						@if (_percent > 0)
						{
							<span class="pro-sale">-@_percent%</span>

							<span class="pro-price">@(_gia)</span>

							<del>@(_giaBanDau)</del>
						}
						else
						{
							<span class="pro-price">@(_gia)</span>
						}
					</div>
					@*@foreach (var x in _lstColor)
					{
					<button class="custom-button" @onclick="()=>ChonMau(x)">@x</button>
					}
					<br>
					@foreach (var x in _lstSize)
					{
					<button class="custom-button" @onclick="()=>ChonSize(x)">@x</button>
					}*@

					<div class="select-swatch clearfix">
						<div id="variant-swatch-0" class="swatch clearfix" data-option="option1"
							 data-option-index="0">
							<div style="margin-bottom:5px"><span>Màu sắc: <b>@_chonMau</b></span></div>
							@foreach (var x in _lstColor)
							{
								<label class="custom-radio-mau" @onclick="()=>ChonMau(x)">
									<input type="radio" name="mau" id="mau @x"/>
									<span class="">@x</span>
								</label>
								@* <div class="select-swap">
							<button class="n-sd swatch-element m  " @onclick="()=>ChonMau(x)">
							<label for="swatch-0-m" class="">
							<span>@x</span>
							</label>
							</button>
							</div> *@
							}

						</div>
						<div id="variant-swatch-0" class="swatch clearfix" data-option="option1"
							 data-option-index="0">
							<div class="row">
								<div class="col-md-6">
									<h6>Kích thước: <b>@_chonSize</b></h6>
								</div>
								<div class="col-md-6" style="display:flex;justify-content:end">
									<span class="chonSize" data-toggle="modal" data-target="#ChonSize">Hướng dẫn chọn size</span>
								</div>
							</div>
							@foreach (var x in _lstSize)
							{
								bool checkSoLuongInput = false;
								string checkSoLuongInput_class = string.Empty;
								if (!string.IsNullOrEmpty(_chonMau))
								{
									var check = 
									_lstPrI_show_VM.
									FirstOrDefault(c => 
									c.ColorName == _chonMau && 
									c.SizeName == x);
									if (check.AvaiableQuantity == 0)
									{
										checkSoLuongInput = true;
										checkSoLuongInput_class = "het";
									}
								}
								<label class="custom-radio-size @checkSoLuongInput_class">
									<input type="radio" name="size" id="size @x" @onclick="()=>ChonSize(x)" disabled="@checkSoLuongInput" />
									<span class="">@x</span>
								</label>
								@* <div class="select-swap">
							<button class="n-sd swatch-element m  " @onclick="()=>ChonSize(x)">
							<label for="swatch-0-m" class="">
							<span>@x</span>
							</label>

							</button>
							</div> *@
							}

						</div>

					</div>
					<div class="selector-actions">
						<span>Số lượng</span>
						<div class="number-input">
							<div class="input-wrapper">
								<button class="minus-button" @onclick="SL_Tru">-</button>
								<input type="number" class="input-field" readonly @bind-value="@_soLuong">
								<button class="plus-button" @onclick="SL_Cong">+</button>
							</div>
						</div>
					</div>

					<div class="product-action-bottom visible-xs">
						<!-- <div class="input-bottom">
							<input id="quan-input" type="number" value="1" min="1">
						</div> -->
						<button type="button" id="add-to-cartbottom"
								class="add-to-cartProduct add-cart-bottom button dark addtocart-modal"
								name="add" @onclick="ThemVaoGiohang" style="width:100%;height:50px">
							Thêm vào giỏ
						</button>
					</div>
					@*Mô tả sản phẩm - Giới thiệu*@
					<div class="product-description">
						<div class="title-bl">
							<h2>Mô tả</h2>
						</div>
						<div class="description-content">
							<div class="description-productdetail">
								- Mô tả...
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="Add_P">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Nội dung của popup -->
			<img src="/images/@_path_Tam" style="width:600px;height:850px" />
		</div>
	</div>
</div>

<div class="modal fade" id="ChonSize">
	<div class="modal-dialog">
		<div class="modal-content" style="display:flex;align-items:center">
			<!-- Nội dung của popup -->
			<img src="/images/bangSizeAo.jpg" style="width:1100px;height:645px" />
		</div>
	</div>
</div>