@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fas fa-check-circle"
                ErrorIcon="fa-solid fa-triangle-exclamation" />

<style>
    .btnTrongSuot {
        background-color: transparent;
        color: blue;
        border: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btnTrongSuot2 {
        background-color: transparent;
        border: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btnTrongSuot1 {
        background-color: transparent;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btne:disabled {
        opacity: .7;
        cursor: not-allowed;
    }

    .back {
        background-color: rgba(0,0,0,0.7);
    }
</style>
<div style="background-color:#fff;padding:30px 30px;">
    <EditForm Model="User_VM">
        <div>
            <label style="font-size:25px;font-weight:450; margin-bottom:20px;">Thông tin tài khoản</label>
            <div class="nameUser" style="width:70%">
                <label style="width:55% ; font-size:15px;">Tên đăng nhập</label>
                <label style="text-align:left; font-size:15px;" class="col-6">@User_VM.UserName</label>
            </div>
            <div class="nameUser" style="width:70%">
                <label style="width:55%; font-size:15px;">Họ và Tên</label>
                <label style="text-align:left; font-size:15px;" class="col-6">@User_VM.Name</label>
            </div>
            <div class="nameUser" style="width:70%">
                <label style="width:55%; font-size:15px;">Số điện thoại</label>
                <label style="text-align:left; font-size:15px;" class="col-6">@User_VM.PhoneNumber</label>
            </div>
            <div class="nameUser" style="width:70%">
                <label style="width:55% ; font-size:15px;">Email</label>
                <label style="text-align:left; font-size:15px;" class="col-6">@User_VM.Email</label>
            </div>
            <div class="nameUser" style="width:70%">
                <label style="width:55%; font-size:15px;">Giới tính</label>
                <label style="text-align:left; font-size:15px;" class="col-6">@(User_VM.Sex==true?"Nam":"Nữ")</label>
            </div>
            <div class="nameUser" style="width:70%;">
                <button class="btnUpdateInfo" data-bs-toggle="modal" @onclick="()=>LoadUser(User_VM.Id)" style="font-size:13px;font-weight:450;">
                    CẬP NHẬT
                </button>
            </div>
        </div>
    </EditForm>
</div>


<EditForm Model="User_VM">
    <div class="modal fade @(isModalOpenUpdateUser ? "show back" : "")"
         id="popupAddAdress" tabindex="-1"
         aria-hidden="@(isModalOpenUpdateUser ? "" : "true")"
         style="display: @(isModalOpenUpdateUser ? "block" : "none")"
         aria-modal="@(isModalOpenUpdateUser ? "true" : "none")"
         role="@(isModalOpenUpdateUser ? "dialog" : "none")">
        <DataAnnotationsValidator />
        <div class="modal-dialog modal-dialog-centered" style="width:150%">
            <div class="modal-content">
                <div class="modal-body">
                    <label style="font-size:18px;font-weight:600;padding:15px 50px 15px 15px">Chỉnh sửa thông tin tài khoản</label>
                    <button class="col-md-1 btnTrongSuot2" style="margin-left:105px;" @onclick='()=>ClosePopup("UpdateUser")'><i class="fas fa-times" style="font-size:16pt;"></i></button>
                    <div style=" display: flex;flex-direction:column;">

                        <div class="inputName">
                            <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                            <div style="display:flex;flex-direction:column;margin-left:10px;width:90%">
                                <InputText class="form_field" name="name" id='name' @bind-Value="@User_VM.Name" required placeholder="Tên của bạn" />
                                <ValidationMessage For="()=>User_VM.Name" />
                            </div>
                        </div>
                        <div class="inputName">
                            <i class="fa-solid fa-phone fa-l" style="color: #a1a1a1"></i>
                            <div style="display:flex;flex-direction:column;margin-left:10px;width:90%">
                                <InputText class="form_field" name="name" id='name' @bind-Value="@User_VM.PhoneNumber" required placeholder="Số điện thoại" maxlength="10"/>
                                <ValidationMessage For="()=>User_VM.PhoneNumber" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Giới tính</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <InputRadioGroup @bind-Value="@User_VM.Sex" class="form-control">
                                        <div class="col-sm-6">
                                            <InputRadio Value="true" /> Nam
                                        </div>
                                        <div class="col-sm-6">
                                            <InputRadio Value="false" /> Nữ
                                        </div>
                                    </InputRadioGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btnSuccesUpDateInfo" @onclick="UpdateUser">
                        CẬP NHẬT TÀI KHOẢN
                        <i class="fa-sharp fa-solid fa-arrow-right-long" style="margin-left:20px;"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</EditForm>




