@using Blazored.Toast.Configuration

<BlazoredToasts Position="ToastPosition.TopRight"
                            Timeout="5"
                            IconType="IconType.FontAwesome"
                            SuccessClass="success-toast-override"
                            SuccessIcon="fas fa-check-circle"
                            ErrorIcon="fa-solid fa-triangle-exclamation" />

<BlazoredToasts Position="ToastPosition.TopRight"
				Timeout="5"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<style>
    .OpenComponent {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 10px 15px;
        background-color: #fff;
        border-radius: 8px;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        border: 2px solid #BCBFBF;
    }

    .OpenComponent_child {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 10px 15px;
        background-color: #BCBFBF;
        border-radius: 8px;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        border: none;
    }

    .OpenComponent:hover {
        background-color: #BCBFBF;
    }

    .btnTrongSuot {
        background-color: transparent;
        color: blue;
        border: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }
        .btnTrongSuot2 {
        background-color: transparent;
        border: none;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btnTrongSuot1 {
        background-color: transparent;
        font-family: inherit;
        font-size: 15px;
        font-weight: 500;
    }

    .btne:disabled {
        opacity: .7;
        cursor: not-allowed;
    }
    .back{
    background-color:rgba(0,0,0,0.7);}

</style>
<div class="row">
    <div class="col-3">
        @foreach (var item in listDetail)
        {
            <button class="@((ChangeColorBtn == item.Id) ? "OpenComponent_child" : "OpenComponent")" @onclick="() => elActiveTab(item.Id)">
                <div>
                    <i class="@item.ImagePath" style="color: #000000;"></i>
                    <label style="margin-left:5px;cursor:pointer;">@item.Name</label>
                </div>
                <img src="/img/iconArrowRight.svg" />
            </button>
        }
    </div>
    <div class="col-9">
        <div style="background-color:#fff;padding:30px 30px;">
            @if (ChangeColorBtn == 1)
            {
                <EditForm Model="User_VM">
                    <div>
                        <label style="font-size:25px;font-weight:450; margin-bottom:20px;">Thông tin tài khoản</label>
                        <div class="nameUser" style="width:70%">
                            <label style="width:55% ; font-size:15px;">Tên đăng nhập</label>
                            <label style="text-align:left; font-size:15px;" class="col-6">@User_VM.UserName</label>

                        </div>

                        <div class="nameUser" style="width:70%">
                            <label style="width:55%; font-size:15px;">Họ và Tên</label>
                            <label style="text-align:left; font-size:15px;" class="col-6">@User_VM.Name</label>
                        </div>
                        <div class="nameUser" style="width:70%">
                            <label style="width:55%; font-size:15px;">Số điện thoại</label>
                            <label style="text-align:left; font-size:15px;" class="col-6">@User_VM.PhoneNumber</label>

                        </div>
                        <div class="nameUser" style="width:70%">
                            <label style="width:55% ; font-size:15px;">Email</label>
                            <label style="text-align:left; font-size:15px;" class="col-6">@User_VM.Email</label>
                        </div>
                        <div class="nameUser" style="width:70%">
                            <label style="width:55%; font-size:15px;">Giới tính</label>
                            <label style="text-align:left; font-size:15px;" class="col-6">@(User_VM.Sex==true?"Nam":"Nữ")</label>
                        </div>
                        <div class="nameUser" style="width:70%;">
                            <button class="btnUpdateInfo" data-bs-toggle="modal" data-bs-target="#popupUpdateUser" style="font-size:13px;font-weight:450;">
                                CẬP NHẬT
                            </button>
                        </div>
                    </div>
                </EditForm>
            }
            else if (ChangeColorBtn == 2)
            {

            }
            else if (ChangeColorBtn == 3)
            {
                <div style="display:flex;justify-content:space-between">
                    <label style="font-size:25px;font-weight:500; margin-bottom:20px;">Địa chỉ của tôi</label>
                    <div>
                        <button class="btnUpdateInfo" data-bs-toggle="modal"  @onclick="Load">
                            THÊM ĐỊA CHỈ MỚI
                        </button>
                    </div><link href="~/css/showinfouser.css" rel="stylesheet" />
                </div>
                <hr>
                @foreach (var item in _lstAddressGetById)
                {
                    <div class="row">
                        <div class="row col-md-4">
                            <div class="col-md-12" style="font-family:inherit;font-size:15px;display:flex; ">
                                <label style="border-right: 2px solid black;padding-right:10px;">
                                    @item.Recipient
                                </label>
                                <label style="padding-left:10px;font-family:inherit;font-size:14px">
                                    @item.NumberPhone
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="row col-md-4">
                            <div class="col-md-5"></div>
                            <div class="col-md-7" style="display:flex;">
                                <button class="btnTrongSuot" data-bs-toggle="modal" style="padding-right:10px;"
                                data-bs-target="#popupUpdateAdress" @onclick="()=>LoadUpdate(item.Id)">
                                    Cập nhật
                                </button>
                                @if (item.Status == 1)
                                {
                                    <button class="btnTrongSuot btne" disabled @onclick="()=>DeleteAddress(item.Id)"
                                style="border-left: 2px solid black;padding-left:10px;">
                                        Xoá
                                    </button>
                                }
                                else
                                {
                                    <button class="btnTrongSuot" @onclick="()=>DeleteAddress(item.Id)"
                                style="border-left: 2px solid black;padding-left:10px;">
                                        Xoá
                                    </button>
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-7" style="font-family:inherit;font-size:14px">@item.ToAddress</div>
                        <div class="col-md-5" style="">
                            <div class="col-md-6"></div>
                            <div class="col-md-6" style="font-family:inherit;font-size:15px;margin-left:161px">
                                @if (item.Status == 1)
                                {
                                    <button class="btnTrongSuot1 btne " disabled @onclick="()=>SetDefaultAddress(item.Id)">Thiết lập mặc định</button>
                                }
                                else
                                {
                                    <button class="btnTrongSuot1" @onclick="()=>SetDefaultAddress(item.Id)">Đặt làm mặc định</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7" style="font-family:inherit;font-size:14px">@(item.Province +", "+item.District + ", "+item.WardName)</div>
                        <div class="col-md-5" style="">
                        </div>
                    </div>
                    @if (item.Status == 1)
                    {
                        <button style="border-color:red;color:red;background-color: transparent;margin-top:5px;">Mặc định</button>
                    }
                    <hr />
                    

                }

            }
            else if (ChangeColorBtn == 4)
            {
                <label style="font-size:25px;font-weight:450;">Đổi mật khẩu</label>

                <br />
                <label style="font-size:15px;font-weight:450; margin-bottom:20px;">Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác</label>
                <hr />
                <EditForm Model="changePassword">
                    <DataAnnotationsValidator />

                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2" style="margin-top:10px">
                            <label>Mật khẩu cũ</label>
                        </div>

                        <div class="col-md-8">
                            <div class="inputName" style="width:70%">
                                <i class="fa-solid fa-lock"></i>
                                <div style="display:flex;flex-direction:column;margin-left:10px;width:84%">
                                    <InputText class="form_field" name="name" id='name' required @bind-Value="@changePassword.OldPassword" />
                                </div>
                                <i class="@Icon_Pass" @onclick=ShowPass></i>
                            </div>
                            <ValidationMessage For="()=>changePassword.OldPassword" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2" style="margin-top:10px">
                            <label>Mật khẩu mới</label>
                        </div>
                        <div class="col-md-8">
                            <div class="inputName" style="width:70%">
                                <i class="fa-solid fa-lock"></i>
                                <div style="display:flex;flex-direction:column;margin-left:10px;width:84%">
                                    <InputText class="form_field" name="name" id='name' required @bind-Value="@changePassword.NewPassword" />
                                </div>
                                <i class="@Icon_New" @onclick=ShowNewPass></i>
                            </div>
                            <ValidationMessage For="()=>changePassword.NewPassword" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-2" style="margin-top:10px">
                            <label>Xác nhận mật khẩu mới</label>
                        </div>
                        <div class="col-md-8">
                            <div class="inputName" style="width:70%">
                                <i class="fa-solid fa-lock"></i>
                                <div style="display:flex;flex-direction:column;margin-left:10px;width:84%">
                                    <InputText class="form_field" name="name" id='name' required @bind-Value="@changePassword.ConfirmNewPassword" />
                                </div>
                                <i class="@Icon_CheckNew" @onclick=ShowCheckNewPass></i>
                            </div>
                            <ValidationMessage For="()=>changePassword.ConfirmNewPassword" style="color:red;margin-top:-15px;margin-left:25px;font-size:11pt;" />
                        </div>
                    </div>


                    <button class="btnSuccesUpDateInfo" @onclick="@ChangePasswordMethor" style="width:30%;margin-left:420px">
                        ĐỔI MẬT KHẨU
                        <i class="fa-sharp fa-solid fa-arrow-right-long" style="margin-left:20px; "></i>
                    </button>
                </EditForm>
            }
        </div>
    </div>
</div>
<EditForm Model="AddressShip">  @*add address*@
    <div class="modal fade @(isModalOpenAddAddress ? "show back" : "")" 
            id="popupAddAdress" tabindex="-1" 
            aria-hidden="@(isModalOpenAddAddress ? "" : "true")"
            style="display: @(isModalOpenAddAddress ? "block" : "none")"
            aria-modal="@(isModalOpenAddAddress ? "true" : "none")"
            role="@(isModalOpenAddAddress ? "dialog" : "none")"  >
    <div class="modal-dialog modal-dialog-centered" style="width:150%">
        <div class="modal-content">
            <div class="modal-body">               
                    <label style="font-size:22px;font-weight:600;padding:15px 50px 15px 15px">Thêm địa chỉ mới</label>
                    <button class="col-md-1 btnTrongSuot2" style="margin-left:230px;" @onclick="ClosePopupAddAddress"><i class="fas fa-times" style="font-size:16pt;"></i></button>
                    <div style=" display: flex;flex-direction:column;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inputName">
                                    <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                                    <div style="display:flex;flex-direction:column;margin-left:10px;">
                                        <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.Recipient" required placeholder="Họ và tên" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inputName">
                                    <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                                    <div style="display:flex;flex-direction:column;margin-left:10px;">
                                        <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.NumberPhone" required placeholder="Số điện thoại" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.Province" @onclick="@ChonTinhTP">
                                            <option value="@string.Empty" selected>--Tỉnh/Thành phố--</option>
                                            @foreach (var x in _lstTinhTp)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.District" @onclick="@ChonQuanHuyen">
                                            <option value="@string.Empty" selected>--Quận/Huyện--</option>
                                            @foreach (var x in _lstQuanHuyen)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.WardName" @onclick="@ChonXaPhuong">
                                            <option value="@string.Empty" selected>--Xã/Phường--</option>
                                            @foreach (var x in _lstXaPhuong)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inputName" style="width:100%;">
                            <i class="fa-solid fa-phone fa-l" style="color: #a1a1a1"></i>
                            <div style="display:flex;flex-direction:column;margin-left:10px; width:90%;">
                                <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.ToAddress" required placeholder="Địa chỉ cụ thể" />
                            </div>
                        </div>
                        <div>
                            <InputCheckbox @bind-Value="@IsDefaultAddress" style="transform: scale(1.7);margin-left:5px;margin-right:10px;" />
                            <label style="font-family:inherit;font-size:15px"> Đặt làm địa chỉ mặc định</label>
                        </div>

                    </div>
                    <button class="btnSuccesUpDateInfo" @onclick="AddAdress">
                        THÊM ĐỊA CHỈ MỚI
                        <i class="fa-sharp fa-solid fa-arrow-right-long" style="margin-left:20px;"></i>
                    </button>             
            </div>
        </div>
    </div> 
</div>
</EditForm>


<EditForm Model="AddressShip"> @*update address*@
    <div class="modal fade @(isModalOpenUpdateAddress ? "show back" : "")" 
            id="popupUpdateAdress" tabindex="-1" 
            aria-hidden="@(isModalOpenUpdateAddress ? "" : "true")"
            style="display: @(isModalOpenUpdateAddress ? "block" : "none")"
            aria-modal="@(isModalOpenUpdateAddress ? "true" : "none")"
            role="@(isModalOpenUpdateAddress ? "dialog" : "none")"  >
        <div class="modal-dialog modal-dialog-centered" style="width:150%">
            <div class="modal-content">       
                <div class="modal-body">
                    <DataAnnotationsValidator />
                    <div class="row">
                    <label class="col-md-6" style="font-size:22px;font-weight:600;padding:15px 50px 15px 15px">Thêm địa chỉ mới</label>           
                    <button class="col-md-1 btnTrongSuot2" style="margin-left:230px;" @onclick="ClosePopupUpdateAddress"><i class="fas fa-times" style="font-size:16pt;"></i></button>
                    </div>
                    <div style=" display: flex;flex-direction:column;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inputName">
                                    <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                                    <div style="display:flex;flex-direction:column;margin-left:10px;">
                                        <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.Recipient" required placeholder="Họ và tên" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inputName">
                                    <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                                    <div style="display:flex;flex-direction:column;margin-left:10px;">
                                        <InputText class="form_field" name="name" id='name' @bind-Value="@addressShip_VM.NumberPhone" required placeholder="Số điện thoại" />
                                        <ValidationMessage style="color:red;" For="()=>addressShip_VM.NumberPhone" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.Province" @onclick="@ChonTinhTP" required>
                                            <option value="@string.Empty" selected>--Tỉnh/Thành phố--</option>
                                            @foreach (var x in _lstTinhTp)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.District" @onclick="@ChonQuanHuyen" required>
                                            <option value="@string.Empty" selected>--Quận/Huyện--</option>
                                            @foreach (var x in _lstQuanHuyen)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="inputName" style="padding-left:15px;">
                                    <div style="display:flex;flex-direction:column;">
                                        <InputSelect class="form_field" @bind-Value="@addressShip_VM.WardName" @onclick="@ChonXaPhuong" required>
                                            <option value="@string.Empty" selected>--Xã/Phường--</option>
                  font              @foreach (var x in _lstXaPhuong)
                                            {
                                                <option value="@x.Name">@x.Name</option>
                                            }
                                        </InputSelect>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inputName" style="width:100%;">
                            <i class="fa-solid fa-phone fa-l" style="color: #a1a1a1"></i>
                            <div style="display:flex;flex-direction:column;margin-left:10px; width:90%;">
                                <InputText class="form_field" name="name" id='name'
                                           @bind-Value="@addressShip_VM.ToAddress" required placeholder="Địa chỉ cụ thể" />
                            </div>
                        </div>
                        <div>
                            @if (addressShip_VM.Status != 1)
                            {
                                <InputCheckbox @bind-Value="@IsDefaultAddress" style="transform: scale(1.7);margin-left:5px;margin-right:10px;" />
                                <label style="font-family:inherit;font-size:15px"> Đặt làm địa chỉ mặc định</label>
                            }
                        </div>
                    </div>
                    <button class="btnSuccesUpDateInfo" @onclick="UpdateAdress">
                        CẬP NHẬT ĐỊA CHỈ
                        <i class="fa-sharp fa-solid fa-arrow-right-long" style="margin-left:20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</EditForm>


<EditForm Model="User_VM">
    <div class="modal fade" id="popupUpdateUser" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" style="width:150%">
            <div class="modal-content">
                <div class="modal-body">
                    <label style="font-size:22px;font-weight:600;padding:15px 50px 15px 15px">Chỉnh sửa thông tin tài khoản</label>
                    <div style=" display: flex;flex-direction:column;">

                        <div class="inputName">
                            <i class="fa-solid fa-user-pen fa-l" style="color: #a1a1a1"></i>
                            <div style="display:flex;flex-direction:column;margin-left:10px;width:90%">
                                <InputText class="form_field" name="name" id='name' @bind-Value="@User_VM.Name" required placeholder="Tên của bạn" />
                            </div>
                        </div>
                        <div class="inputName">
                            <i class="fa-solid fa-phone fa-l" style="color: #a1a1a1"></i>
                            <div style="display:flex;flex-direction:column;margin-left:10px;width:90%">
                                <InputText class="form_field" name="name" id='name' @bind-Value="@User_VM.PhoneNumber" required placeholder="Số điện thoại" />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Tình trạng</label>
                            <div class="col-sm-8">
                                <div class="row">
                                    <InputRadioGroup @bind-Value="@User_VM.Sex" class="form-control">
                                        <div class="col-sm-6">
                                            <InputRadio Value="true" /> Nam
                                        </div>
                                        <div class="col-sm-6">
                                            <InputRadio Value="false" /> Nữ
                                        </div>
                                    </InputRadioGroup>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btnSuccesUpDateInfo" @onclick="UpdateUser">
                        CẬP NHẬT TÀI KHOẢN
                        <i class="fa-sharp fa-solid fa-arrow-right-long" style="margin-left:20px;"></i>
                    </button>
                </div>

            </div>
        </div>
    </div>
</EditForm>




