@using DATN_Client.Areas.Customer.Controllers
@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.TopRight"
				Timeout="5"
				IconType="IconType.FontAwesome"
				SuccessClass="success-toast-override"
				SuccessIcon="fa-solid fa-check"
				ErrorIcon="fa-solid fa-triangle-exclamation" />
<style>
	.discount-rectangle {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 40px;
		height: 20px;
		background-color: red;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 40px;
		z-index: 1;
	}

		.discount-rectangle span {
			font-size: 14px;
		}

	.center-content1 {
		display: flex;
		justify-content: left;
		padding-left: 15px;
	}

		.center-content1 p {
			color: red;
			font-size: 18px;
		}

	.thumnail {
		width: 280px;
		height: 400px;
		text-align: center;
		position: relative;
		cursor:pointer;
	}

	.imgthum {
		width: 100%;
		height: 280px;
		margin-bottom: 10px;
	}

	.center-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 38vh; /* Đảm bảo phần tử cha chiếm toàn bộ chiều cao của màn hình */
		margin-bottom: 30px;
	}

		.center-content div {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

	.title {
		font-size: 35px;
		margin-bottom: 25px;
	}

	.title1 {
		font-size: 30px;
		font-weight: 500;
		margin-bottom: 15px;
	}
</style>
<div class="row ">
	<div class="col-md-3">
		<hr style="border: 1px solid orangered;">
		<h3>TẤT CẢ DANH MỤC</h3>
		<hr style="border: 1px solid orangered;">
		<div class="danhmuc" style="border: 2px solid black;">
			<ul>
				<li>
					<a href="/all-product">TẤT CẢ SẢN PHẨM</a>
				</li>
				@foreach (var item in _lstCate)
				{
					<li>
						<a href="/all-product/@item.TenKhongDau">@item.Name.ToUpper()</a>
					</li>
				}
			</ul>
		</div>
	</div>


	<div class="col-md-9">
		<div class="row title_tee">
			<div class="col-md-8">
				<h2>@BanOnlineController._tenDanhMuc.ToUpper()</h2>
			</div>
			<div class="col-md-4">
				<div class="search" style="width:100%">
					<input placeholder="Tìm kiếm..." type="text" style="width:100%" @bind-value="_searchProduct">
					<button type="submit" @onclick="SearchPrd">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</div>
			</div>
		</div>
		@if (BanOnlineController._soKQ > 0)
		{
			<div class="row showsp" style="margin-top:20px">

				@if (_lstPrI_show_VM == null)
				{
					<p><em>Loading...</em></p>
				}
				else
				{
					foreach (var x in BanOnlineController._pageList)
					{
						string img = _lstImg_PI.Where(c => c.ProductId == x.Id).OrderBy(c => c.STT).Select(c => c.PathImage).FirstOrDefault();
						var giamin = _lstPrI_show_VM.Where(c => c.ProductId == x.Id).Min(c => c.PriceAfterReduction);
						var giamax = _lstPrI_show_VM.Where(c => c.ProductId == x.Id).Max(c => c.PriceAfterReduction);
						int? percentMax = 0;
                    var lsttam = BanOnlineController._lstpi_Percent.Where(c => c.ProductId == x.Id).ToList();
                    if (lsttam.Count() > 0)
                    {
                        percentMax = lsttam.Max(c => c.Percent);
                        if (percentMax == null) percentMax = 0;
                    }
						<div class="col-md-4" style="position: relative;">
							<div class="card thumnail" @onclick="()=>NavProductItem(x.Id)">
								@if (percentMax > 0)
								{
									<div class="discount-rectangle">
										<span style="font-size:9pt;font-weight:700;">@("-" + percentMax + "%")</span>
									</div>
								}
								<img src="/images/@img" class="imgthum" />
								<div style="text-align:left">
									<p style="margin-bottom: 15px; margin-top: 10px;padding-left:15px">@x.Name</p>
								</div>
								<div class="center-content1">
									@if (giamin == giamax || giamin == null || giamax == null)
									{
										<p>@((giamin ?? giamax)?.ToString("#,##0"))đ</p>
									}
									else
									{
										<p>@(giamin?.ToString("#,##0") + " - " + giamax?.ToString("#,##0"))đ</p>
									}
								</div>
							</div>
						</div>
					}
				}
			</div>
		}
		else
		{
			<h3 style="margin-top:22px;font-size:22px">
				Danh mục này hiện chưa sẵn sàng, quý khách vui lòng quay lại sau!
			</h3>
		}
	</div>
</div>
